<div id="<%= dom_id documentation %>">


  <p>
    <strong>Store:</strong>
    <%= documentation.store_id %>
  </p>

  <p>
    <strong>Employee named:</strong>
    <%= documentation.employee_named.full_name %>
  </p>

  <p>
    <strong>Awarded by:</strong>
    <%= documentation.awarded_by.full_name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= documentation.position.name %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= documentation.document_id %>
  </p>

  <p>
    <strong>Documentation type:</strong>
    <%= documentation.documentation_type %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= documentation.level %>
  </p>

  <p>
    <strong>Documentation class:</strong>
    <%= documentation.documentation_class %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= documentation.description %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= documentation.points %>
  </p>

  <p>
    <strong>Document date:</strong>
    <%= documentation.document_date %>
  </p>

  <p>
    <strong>Individiual:</strong>
    <%= documentation.individiual %>
  </p>

  <p>
    <strong>Document description:</strong>
    <%= documentation.document_description %>
  </p>

</div>
