<turbo-frame id="tracking">
  <div class="row justify-content-center mb-5">
    <div class="col-auto">
      <div class="card">
        <h3 class="text-center card-header">Document Tracking</h3>
        <div class="card-body">
          <div class="table table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th># Awarded</th>
                  <th># Major</th>
                  <th># Serious</th>
                  <th># Critical</th>
                  <th># Praise!</th>
                  <th># Cheers!</th>
                  <th># Applause!</th>
                  <th># Given Out</th>
                  <th># Major</th>
                  <th># Serious</th>
                  <th># Critical</th>
                  <th># Praise!</th>
                  <th># Cheers!</th>
                  <th># Applause!</th>>
                  <th>#Awarded To Self</th>
                </tr>
              </thead>
              <tbody>
                <% User.where(position_id: [1,2,3,4,5,6,7,8,9,12,14,16,21,22,23,24]).order(position_id: :asc, first_name: :asc).each do |user| %>
                  <% if user.employee_named_documentations.any? || user.awarded_by_documentations.any? %>
                    <tr>
                      <td><%= user.full_name %></td>
                      <td><%= user.position.name %></td>
                      <td><%= user.employee_named_documentations.size %></td>
                      <td><%= user.employee_named_documentations.where(level: "Major").size %></td>
                      <td><%= user.employee_named_documentations.where(level: "Serious").size %></td>
                      <td><%= user.employee_named_documentations.where(level: "Critical").size %></td>
                      <td><%= user.employee_named_documentations.where(level: "Praise!").size %></td>
                      <td><%= user.employee_named_documentations.where(level: "Cheers!").size %></td>
                      <td><%= user.employee_named_documentations.where(level: "Applause!").size %></td>
                      <td><%= user.awarded_by_documentations.size %></td>
                      <td><%= user.awarded_by_documentations.where(level: "Major").size %></td>
                      <td><%= user.awarded_by_documentations.where(level: "Serious").size %></td>
                      <td><%= user.awarded_by_documentations.where(level: "Critical").size %></td>
                      <td><%= user.awarded_by_documentations.where(level: "Praise!").size %></td>
                      <td><%= user.awarded_by_documentations.where(level: "Cheers!").size %></td>
                      <td><%= user.awarded_by_documentations.where(level: "Applause!").size %></td>
                      <td><%= self_awarded(user) %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>