<div class="card mb-5">
  <h2 class="card-header text-center">Pending Rewards</h2>
  <% if @users_with_rewards_pending.any? %>
    <%= form_with url: "",  method: :get, data: { turbo_frame: "pending_rewards", turbo_action: "advance" }, class: "pb-3" do |form| %>
      <div class="pt-3 row justify-content-between">
        <div class="col-12 col-md-5 col-xl-2 ms-3">
          <div class="row">
            <%= form.label "Show", class: "col-4 mb-3 col-form-label" %>
            <div class="col-7">
              <%= form.select :count, options_for_select([10, 25, 50], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()", class: "form-control", placeholder: "Show"}  %>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4  me-3">
          <%= form.search_field :query, value: params[:query], oninput: "this.form.requestSubmit()", class: "form-control", placeholder: "Search By Name" %>
        </div>
      </div>
    <% end %>
    <div class="table-responsive card-body">
      <%= turbo_frame_tag "pending_rewards" do %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Name</th>
              <th scope="col">Position</th>
              <th scope="col">Reward</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @users_with_rewards_pending.each do |user| %>
              <% user.rewards.each_with_index do |reward, i| %>
                <tr id="reward_<%= user.id %>_<%= i %>_<%= reward %>" >
                  <td><%= user.stores.any? ? user.stores[0].number : "Office" %></td>
                  <td><%= user.full_name %></td>
                  <td><%= user.position.name %></td>
                  <td><%= Reward.find(reward).name %></td>
                  <td>
                    <% if policy(:documentation).show? %>
                      <%= link_to "Pay Out", "/pay_out/#{user.id}/#{reward}", class: "table-link", data: {turbo: false} %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="p-4">
          <%== pagy_nav @pagy %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="card-body">
      <h3 class="text-center">All Rewards Have Been Paid Out!! 😀</h3>
    </div>
  <% end %>

</div>