
<div class="row justify-content-center mb-5">
  <div class="col-12 col-xl-10">
    <div class="card card-body" style="background-color: red;" >
      <h4 class="card-title text-center">COVID-19</h4>
      <div class="row justify-content-evenly">
        <div class="col-4 col-md-2 d-grid gap-2 d-m-block text-center">
          <%= link_to 'Wellness Check', new_wellness_path, class: "btn my-submit" %>
        </div>
        <%# if policy(:covid_status).new? %>
          <div class="col-4 col-md-2 d-grid gap-2 d-m-block text-center">
          <!-- 11/16/21 Add new_covid_status_path -->
            <%= link_to 'Add Vaccine Status', new_covid_status_path , class: "btn my-submit" %>
          </div>
        <%# end %>
        <%# if policy(:wellness_report).new? %>
          <div class="col-4 col-md-2 d-grid gap-2 d-m-block text-center">
            <%= link_to 'Report', '', class: "btn my-submit" %>
          </div>
        <%# end %>
      </div>
    </div>
  </div>
</div>

<% if current_user.position.name == "Crew" %>
  <%= render "/dashboard/dashboards/crew" %>
<% elsif current_user.position.name.in? ["Owner", "Director", "Business Director"]%>
  <%= render "/dashboard/dashboards/director" %>
<% elsif current_user.position.name.in? ["Maint Admin", "Maint Department Head", "Maint Tech Department Head", "PM Department Head", "Technology Department Head"]%>
  <%= render "/dashboard/dashboards/maint_dept_hd" %>
<% elsif current_user.position.name.in? ["Maint Tech", "Patch Maint", "OTP Tech", "AA"] %>
  <%= render "/dashboard/dashboards/maint_tech" %>
<% elsif current_user.position.name.in? ["HR Manager", "Marketing Manager", "AR Manager", "AP Manager", "Payroll Manager", "HR Admin", "AR Admin", "AP Admin", "Marketing Admin"] %>
  <%= render "/dashboard/dashboards/office" %>
<% elsif current_user.position.name.in? ["Supervisor", "Operations Manager"] %>
  <%= render "/dashboard/dashboards/supervisor" %>
<% else %>
  <%= render "/dashboard/dashboards/training" %>
<% end %>