<div id="<%= dom_id wellness %>">
  <p>
    <strong>Organization:</strong>
    <%= wellness.organization_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= wellness.store_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= wellness.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= wellness.last_name %>
  </p>

  <p>
    <strong>Tc:</strong>
    <%= wellness.tc %>
  </p>

  <p>
    <strong>Temp:</strong>
    <%= wellness.temp %>
  </p>

  <p>
    <strong>Q1:</strong>
    <%= wellness.q1 %>
  </p>

  <p>
    <strong>Q2:</strong>
    <%= wellness.q2 %>
  </p>

  <p>
    <strong>Q3:</strong>
    <%= wellness.q3 %>
  </p>

  <p>
    <strong>Q4:</strong>
    <%= wellness.q4 %>
  </p>

  <p>
    <strong>Reported:</strong>
    <%= wellness.reported %>
  </p>

</div>
