<div id="<%= dom_id vendor %>">
  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= vendor.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= vendor.phone %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= vendor.contact %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= vendor.organization_id %>
  </p>

</div>
