<div class="card">
  <div class="card-header">
    <h2 class="text-center"><%= @vendor.name %></h2>
    <h4 class="text-center"><%= number_to_phone(@vendor.phone) %> | <%= @vendor.email %></h4>
    <h4 class="text-center"><%= @vendor.contact %></h4>
  </div>
  <div class="card-body">
   <h5>Workorder History</h5>
    <div class="row mb-5">
      <div class="d-block gap-2">
        <% @vendor.workorders.order(id: :desc).each do |workorder| %>
          <%= link_to workorder.id, workorder, class: "btn my-submit mb-2" %>
        <% end %>
      </div>
    </div>

  <div class="d-grid gap-2 d-md-flex" >
    <%= link_to "Edit", edit_vendor_path(@vendor), class: "btn my-submit" %>
    <%= link_to "Vendors", vendors_path, class: "btn my-submit" %>
  </div>
  </div>
  <% if policy(:vendor).destroy? %>
    <div class="card-footer" >
      <%= button_to "Delete", @vendor, method: :delete, class: "btn btn-danger", form: { data: {turbo_confirm: "Are You Sure?"}} %>
    </div>
  <% end %>
</div>
