<div id="<%= dom_id covid_status %>">
  <p>
    <strong>Organization:</strong>
    <%= covid_status.organization_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= covid_status.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= covid_status.last_name %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= covid_status.store_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= covid_status.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= covid_status.user_id %>
  </p>

  <p>
    <strong>Timecard:</strong>
    <%= covid_status.timecard %>
  </p>

</div>
