<div id="<%= dom_id tclass %>">
  <p>
    <strong>Name:</strong>
    <%= tclass.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= tclass.duration %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= tclass.capacity %>
  </p>

  <p>
    <strong>Class date:</strong>
    <%= tclass.class_date %>
  </p>

  <p>
    <strong>Class time:</strong>
    <%= tclass.class_time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= tclass.location %>
  </p>

  <p>
    <strong>Curriculum:</strong>
    <%= tclass.curriculum_id %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= tclass.expense %>
  </p>

</div>
