<%= form_with(model: shop, data: {controller: "shop"}) do |form| %>
  <% if shop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" id="setup">
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <%= form.label :shopDate, "Date", class: "form-label" %>
        <%= form.date_field :shopDate, class: "form-control", required: true, value: Date.today %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <%= form.label :shopTime, "Time", class: "form-label" %>
        <%= form.time_field :shopTime, class: "form-control", required: true, autofocus: true %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <%= form.label :store_id, "Location", class: "form-label" %>
        <%= form.collection_select :store_id, Store.where(active: true, store_type: "Traditional").order('number ASC'), :id, :number, {prompt: "Select Restaurant"}, {class: "form-select", required: true, data: {action: "change->shop#manager"}} %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="mb-3">
        <%= form.label :shopType, "Shop Channel", class: "form-label" %>
        <%= form.select :shopType, Shop::SHOP_TYPE, {:include_blank => "Select Channel"}, {class: "form-control", required: true, data: { action: "change->shop#shoparea" } }  %>
      </div>
    </div>
  </div>
  <div id="shopQuestions" style="<%= shop.id.nil? ? 'display: none;' : 'display: block;' %>">
    <div class="row" id="shift-management">
      <div class="col">
        <hr>
        <%= render :partial => "/shops/sections/shift_management", locals: { form: form } %>
      </div>
    </div>
    <div class="row" id="fast">
      <div class="col">
        <hr>
        <%= render :partial => "/shops/sections/fast", locals: { form: form } %>
      </div>
    </div>
    <div class="row" id="accurate">
      <hr>
      <div class="col">
        <%= render :partial => "/shops/sections/accuracy", locals: { form: form } %>
      </div>
    </div>
    <div class="row" id="hospitality">
      <hr>
      <div class="col">
        <%= render :partial => "/shops/sections/hospitality", locals: { form: form } %>
      </div>
    </div>
    <div class="row" id="quality">
      <hr>
      <div class="col">
        <%= render :partial => "/shops/sections/quality", locals: { form: form } %>
      </div>
    </div>
    <div class="row" id="cleanliness">
      <hr>
      <div class="col">
        <%= render :partial => "/shops/sections/cleanliness", locals: { form: form } %>
      </div>
    </div>
    <div class="row" id="food-safety">
      <hr>
      <div class="col">
        <%= render :partial => "/shops/sections/food_safety", locals: { form: form } %>
      </div>
    </div>
    <div>
      <%= form.hidden_field :score %>
      <%= form.hidden_field :possiblePoints %>
      <%= form.hidden_field :achievedPoints %>
      <%= form.hidden_field :docRequired %>
    </div>
    <div class="mb-3">
      <%= form.submit class: "btn my-submit" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-auto" >
    <p style="display: none; bottom: 24px; position: fixed; right: 0; width: 100%; z-index: 5;" id="score" class="bg-dark text-light text-center d-block"></p>
  </div>
</div