<div id="<%= dom_id shop %>">
  <p>
    <strong>Store:</strong>
    <%= shop.store_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= shop.organization_id %>
  </p>

  <p>
    <strong>Shopdate:</strong>
    <%= shop.shopDate %>
  </p>

  <p>
    <strong>Shoptime:</strong>
    <%= shop.shopTime %>
  </p>

  <p>
    <strong>Shoptype:</strong>
    <%= shop.shopType %>
  </p>

  <p>
    <strong>Upfront:</strong>
    <%= shop.upFront %>
  </p>

  <p>
    <strong>Mgrappearance:</strong>
    <%= shop.mgrAppearance %>
  </p>

  <p>
    <strong>Headset:</strong>
    <%= shop.headset %>
  </p>

  <p>
    <strong>Crewappearance:</strong>
    <%= shop.crewAppearance %>
  </p>

  <p>
    <strong>R2d2charts:</strong>
    <%= shop.r2d2Charts %>
  </p>

  <p>
    <strong>Rdm:</strong>
    <%= shop.rdm %>
  </p>

  <p>
    <strong>Kiosks:</strong>
    <%= shop.kiosks %>
  </p>

  <p>
    <strong>Tableservice:</strong>
    <%= shop.tableService %>
  </p>

  <p>
    <strong>Tabletent:</strong>
    <%= shop.tableTent %>
  </p>

  <p>
    <strong>Shiftmgrcomment:</strong>
    <%= shop.shiftMgrComment %>
  </p>

  <p>
    <strong>Fastcomment:</strong>
    <%= shop.fastComment %>
  </p>

  <p>
    <strong>Qualitycomment:</strong>
    <%= shop.qualityComment %>
  </p>

  <p>
    <strong>Accuracycomment:</strong>
    <%= shop.accuracyComment %>
  </p>

  <p>
    <strong>Hospitalitycomment:</strong>
    <%= shop.hospitalityComment %>
  </p>

  <p>
    <strong>Cleancomment:</strong>
    <%= shop.cleanComment %>
  </p>

  <p>
    <strong>Foodsafetycomment:</strong>
    <%= shop.foodSafetyComment %>
  </p>

  <p>
    <strong>Itemsordered:</strong>
    <%= shop.itemsOrdered %>
  </p>

  <p>
    <strong>Waittime:</strong>
    <%= shop.waitTime %>
  </p>

  <p>
    <strong>Responsetime:</strong>
    <%= shop.responseTime %>
  </p>

  <p>
    <strong>Presenttime:</strong>
    <%= shop.presentTime %>
  </p>

  <p>
    <strong>Oeptime:</strong>
    <%= shop.oepTime %>
  </p>

  <p>
    <strong>Totaltime:</strong>
    <%= shop.totalTime %>
  </p>

  <p>
    <strong>Pullforward:</strong>
    <%= shop.pullForward %>
  </p>

  <p>
    <strong>Pullforwardtime:</strong>
    <%= shop.pullForwardTime %>
  </p>

  <p>
    <strong>Numbercars:</strong>
    <%= shop.numberCars %>
  </p>

  <p>
    <strong>Tandem:</strong>
    <%= shop.tandem %>
  </p>

  <p>
    <strong>Fcwaittime:</strong>
    <%= shop.fcWaitTime %>
  </p>

  <p>
    <strong>Fcdeliverytime:</strong>
    <%= shop.fcDeliveryTime %>
  </p>

  <p>
    <strong>Fctotaltime:</strong>
    <%= shop.fcTotalTime %>
  </p>

  <p>
    <strong>Numberguests:</strong>
    <%= shop.numberGuests %>
  </p>

  <p>
    <strong>Completeorder:</strong>
    <%= shop.completeOrder %>
  </p>

  <p>
    <strong>Condiment:</strong>
    <%= shop.condiment %>
  </p>

  <p>
    <strong>Condimentbag:</strong>
    <%= shop.condimentBag %>
  </p>

  <p>
    <strong>Readerboard:</strong>
    <%= shop.readerboard %>
  </p>

  <p>
    <strong>Marketing:</strong>
    <%= shop.marketing %>
  </p>

  <p>
    <strong>Dtcommentnumber:</strong>
    <%= shop.dtCommentNumber %>
  </p>

  <p>
    <strong>Presell:</strong>
    <%= shop.presell %>
  </p>

  <p>
    <strong>Upsell:</strong>
    <%= shop.upsell %>
  </p>

  <p>
    <strong>Otname:</strong>
    <%= shop.otName %>
  </p>

  <p>
    <strong>Cashiername:</strong>
    <%= shop.cashierName %>
  </p>

  <p>
    <strong>Presentername:</strong>
    <%= shop.presenterName %>
  </p>

  <p>
    <strong>Pullforwardpresentername:</strong>
    <%= shop.pullForwardPresenterName %>
  </p>

  <p>
    <strong>Repeatorderask:</strong>
    <%= shop.repeatOrderAsk %>
  </p>

  <p>
    <strong>Cashiergreeting:</strong>
    <%= shop.cashierGreeting %>
  </p>

  <p>
    <strong>Cashierask:</strong>
    <%= shop.cashierAsk %>
  </p>

  <p>
    <strong>Presentergreet:</strong>
    <%= shop.presenterGreet %>
  </p>

  <p>
    <strong>Presentertell:</strong>
    <%= shop.presenterTell %>
  </p>

  <p>
    <strong>Pftell:</strong>
    <%= shop.pfTell %>
  </p>

  <p>
    <strong>Fresh:</strong>
    <%= shop.fresh %>
  </p>

  <p>
    <strong>Friesgood:</strong>
    <%= shop.friesGood %>
  </p>

  <p>
    <strong>Drinkgood:</strong>
    <%= shop.drinkGood %>
  </p>

  <p>
    <strong>Codclean:</strong>
    <%= shop.codClean %>
  </p>

  <p>
    <strong>Dtclean:</strong>
    <%= shop.dtClean %>
  </p>

  <p>
    <strong>Lotclean:</strong>
    <%= shop.lotClean %>
  </p>

  <p>
    <strong>Corralclean:</strong>
    <%= shop.corralClean %>
  </p>

  <p>
    <strong>Lidsclosed:</strong>
    <%= shop.lidsClosed %>
  </p>

  <p>
    <strong>Dtglassclean:</strong>
    <%= shop.dtGlassClean %>
  </p>

  <p>
    <strong>Windowsclean:</strong>
    <%= shop.windowsClean %>
  </p>

  <p>
    <strong>Trashfull:</strong>
    <%= shop.trashFull %>
  </p>

  <p>
    <strong>Commentsignvisible:</strong>
    <%= shop.commentSignVisible %>
  </p>

  <p>
    <strong>Floorclean:</strong>
    <%= shop.floorClean %>
  </p>

  <p>
    <strong>Tableclean:</strong>
    <%= shop.tableClean %>
  </p>

  <p>
    <strong>Drinkclean:</strong>
    <%= shop.drinkClean %>
  </p>

  <p>
    <strong>Ventsclean:</strong>
    <%= shop.ventsClean %>
  </p>

  <p>
    <strong>Sanitizer:</strong>
    <%= shop.sanitizer %>
  </p>

  <p>
    <strong>Tvon:</strong>
    <%= shop.tvOn %>
  </p>

  <p>
    <strong>Restroomclean:</strong>
    <%= shop.restroomClean %>
  </p>

  <p>
    <strong>Insidetrash:</strong>
    <%= shop.insideTrash %>
  </p>

  <p>
    <strong>Crewroom:</strong>
    <%= shop.crewRoom %>
  </p>

  <p>
    <strong>Uhctimer:</strong>
    <%= shop.uhcTimer %>
  </p>

  <p>
    <strong>Preptimer:</strong>
    <%= shop.prepTimer %>
  </p>

  <p>
    <strong>Buntimer:</strong>
    <%= shop.bunTimer %>
  </p>

  <p>
    <strong>Qtrcorrect:</strong>
    <%= shop.qtrCorrect %>
  </p>

  <p>
    <strong>Qtrdate:</strong>
    <%= shop.qtrDate %>
  </p>

  <p>
    <strong>Qtrtime:</strong>
    <%= shop.qtrTime %>
  </p>

  <p>
    <strong>Glove:</strong>
    <%= shop.glove %>
  </p>

  <p>
    <strong>Pietimer:</strong>
    <%= shop.pieTimer %>
  </p>

  <p>
    <strong>Ppe:</strong>
    <%= shop.ppe %>
  </p>

  <p>
    <strong>Contactless:</strong>
    <%= shop.contactless %>
  </p>

  <p>
    <strong>Lotgum:</strong>
    <%= shop.lotGum %>
  </p>

  <p>
    <strong>Codgum:</strong>
    <%= shop.codGum %>
  </p>

  <p>
    <strong>Dtgum:</strong>
    <%= shop.dtGum %>
  </p>

  <p>
    <strong>Otppe:</strong>
    <%= shop.otPPE %>
  </p>

  <p>
    <strong>Csppe:</strong>
    <%= shop.csPPE %>
  </p>

  <p>
    <strong>Pppe:</strong>
    <%= shop.pPPE %>
  </p>

  <p>
    <strong>P2ppe:</strong>
    <%= shop.p2PPE %>
  </p>

  <p>
    <strong>Folded:</strong>
    <%= shop.folded %>
  </p>

  <p>
    <strong>Cashierround:</strong>
    <%= shop.cashierRound %>
  </p>

  <p>
    <strong>Possiblepoints:</strong>
    <%= shop.possiblePoints %>
  </p>

  <p>
    <strong>Achievedpoints:</strong>
    <%= shop.achievedPoints %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= shop.score %>
  </p>

  <p>
    <strong>Promptcondiments:</strong>
    <%= shop.promptCondiments %>
  </p>

  <p>
    <strong>Docrequired:</strong>
    <%= shop.docRequired %>
  </p>

  <p>
    <strong>Loyalty:</strong>
    <%= shop.loyalty %>
  </p>

</div>
