<div class="row justify-content-center mb-5">
  <div class="col-auto">
    <div class="card">
      <h2 class="text-center card-header">Shops</h2>
      <div class="card-body">
        <% if @shops.any? %>
          <div class="table table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Store</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Type</th>
                  <th>Score</th>
                  <th>Manager</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @shops.each_with_index do |shop, i| %>
                  <tr>
                    <th><%= i + 1 %></th>
                    <td><%= shop.store.number %></td>
                    <td><%= shop.shopDate.strftime("%m/%d/%Y") %></td>
                    <td><%= shop.shopTime.strftime("%l:%M %P") %></td>
                    <td><%= shop.shopType %></td>
                    <td><%= shop.score %></td>
                    <td><%= shop.shiftManager %></td>
                    <td>
                      <%= link_to "Show", shop, class: "table-link" %>
                      <% if policy(:shop).edit? %>
                        <%= link_to "Edit", edit_shop_path(shop), class: "table-link", data: {turbo: false} %>
                      <% end %>
                      <% if policy(:shop).destroy? %>
                        <%= link_to "Remove", shop, class: "table-link", data: { turbo_method: :delete } %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <h3 class="text-center">No Shops Completed</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>