<div class="row justify-content-center mb-5">
  <div class="col-auto">
    <div class="card">
      <h2 class="card-header text-center"><%= @safe_audit.store.number %> - Completed By: <%= @safe_audit.auditor.full_name %> on <%= @safe_audit.safe_audit_date.strftime("%m/%d/%Y")%></h2>
      <div class="card-body">
        <div class="row">
          <div class="col-auto">
            <h4>Shift Manager: <%= @safe_audit.shift_manager %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h5><strong>Headsets</strong> - # Working: <%=
            @safe_audit.working_headset %> | # Non-Working: <%= @safe_audit.non_working_headset %> = Total: <%= @safe_audit.working_headset.to_i + @safe_audit.non_working_headset.to_i %> | Missing: <%= @safe_audit.missing_headset %></h5>
            <h5><strong>IPads</strong> - <%= @safe_audit.ipad %></h5>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <h4 class="text-center">Cash Tills</h4>
            <h5><strong>Drawers</strong> - <%= @safe_audit.drawer %> @ <%= number_to_currency(@safe_audit.drawer_amount) %> = <%= number_to_currency(@safe_audit.drawer * @safe_audit.drawer_amount) %></h5>
            <h4 class="text-center">Currency</h4>
            <h5><strong>Hundreds</strong> - <%= @safe_audit.hundred %> = <%= number_to_currency(@safe_audit.hundred * 100) %></h5>
            <h5><strong>Fifties</strong> - <%= @safe_audit.fifty %> = <%= number_to_currency(@safe_audit.fifty * 50) %></h5>
            <h5><strong>Twenties</strong> - <%= @safe_audit.twenty %> = <%= number_to_currency(@safe_audit.twenty * 20) %></h5>
            <h5><strong>Tens</strong> - <%= @safe_audit.ten %> = <%= number_to_currency(@safe_audit.ten * 10) %></h5>
            <h5><strong>Fives</strong> - <%= @safe_audit.five %> = <%= number_to_currency(@safe_audit.five * 5) %></h5>
            <h5><strong>Twos</strong> - <%= @safe_audit.two %> = <%= number_to_currency(@safe_audit.two * 2) %></h5>
            <h5><strong>Ones</strong> - <%= @safe_audit.one %> = <%= number_to_currency(@safe_audit.one * 1) %></h5>

            <h4 class="text-center">Rolled Coin</h4>
            <h5><strong>Quarters</strong> - <%= @safe_audit.quarter %> = <%= number_to_currency(@safe_audit.quarter * 10) %></h5>
            <h5><strong>Dimes</strong> - <%= @safe_audit.dime %> = <%= number_to_currency(@safe_audit.nickel * 5) %></h5>
            <h5><strong>Nickels</strong> - <%= @safe_audit.nickel %> = <%= number_to_currency(@safe_audit.dime * 2) %></h5>
            <h5><strong>Pennies</strong> - <%= @safe_audit.penny %> = <%= number_to_currency(@safe_audit.penny * 0.5) %></h5>

            <h4 class="text-center">Loose Coin</h4>
            <h5><strong>Dollar</strong> - <%= @safe_audit.dollar_coin %> = <%= number_to_currency(@safe_audit.dollar_coin * 1) %></h5>
            <h5><strong>Half-Dollar</strong> - <%= @safe_audit.half_dollar %> = <%= number_to_currency(@safe_audit.half_dollar * 0.5) %></h5>
            <h5><strong>Misc Coin</strong> - <%= @safe_audit.misc_coin %> = <%= number_to_currency(@safe_audit.misc_coin) %></h5>

            <h4 class="text-center">Misc</h4>
            <h5><strong>Gift Certificates</strong> - <%= @safe_audit.gift_certificate %> = <%= number_to_currency(@safe_audit.gift_certificate) %></h5>
            <h5><strong>Gift Certificates Redeemed</strong> - <%= @safe_audit.gift_certificate_redeemed %> = <%= number_to_currency(@safe_audit.gift_certificate_redeemed) %></h5>
            <h5><strong>Receipts</strong> - <%= @safe_audit.receipt %> = <%= number_to_currency(@safe_audit.receipt) %></h5>
            <h5><strong>Coin Changer</strong> - <%= @safe_audit.coin_changer %> = <%= number_to_currency(@safe_audit.coin_changer) %></h5>
            <h5><strong>Other</strong> - <%= @safe_audit.other %> = <%= number_to_currency(@safe_audit.other) %></h5>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
            <h4><strong>Total Safe Count</strong> = <%= number_to_currency(@safe_audit.total_safe)%></h4>
            <h4><strong>Safe Started At</strong> = <%= number_to_currency(@safe_audit.store.safe)%></h4>
            <h4><strong>Safe Variance</strong> = <%= number_to_currency(@safe_audit.safe_variance)%></h4>
          </div>
        </div>
        <hr>
        <% if @safe_audit.comment %>
          <div class="row">
            <div class="col-12">
              <h5>Comments:</h5>
              <h6><%= @safe_audit.comment %></h6>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-12">
            <div id="signature-pad<%= @safe_audit.id %>" data-controller="show-signature" data-show-signature-signature="<%= @safe_audit.signature %>"
              data-show-signature-id="<%= @safe_audit.id %>" >
              <h6>Signature:</h6>
              <canvas class="shadow-md p-0 mb-0 bg-white rounded" width="100" height="50"></canvas>
              <% if @safe_audit.shift_manager %>
                <p><strong>Audit Verified With:</strong> <%= @safe_audit.shift_manager %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>