<div id="<%= dom_id equipment %>">
  <p>
    <strong>Name:</strong>
    <%= equipment.name %>
  </p>

  <p>
    <strong>Service date:</strong>
    <%= equipment.service_date %>
  </p>

  <p>
    <strong>Equipment tag:</strong>
    <%= equipment.equipment_tag %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= equipment.store_id %>
  </p>

  <p>
    <strong>Equipment type:</strong>
    <%= equipment.equipment_type_id %>
  </p>

  <p>
    <strong>Equipment area:</strong>
    <%= equipment.equipment_area_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= equipment.organization_id %>
  </p>

</div>
