<div class='row justify-content-center'>
  <div class='col-auto'>
    <div class='card card-body' style="height: 84vh; overflow: scroll;">
      <% if @workorder_reports.any? %>
        <h1 class='text-center card-header'>Workorders</h1>
        <div class='table-responsive'>
          <table class='table table-hover table-striped table-small'>
            <thead>
              <tr>
                <th style='background-color: rgb(255, 255, 255);'>#</th>
                <th style='background-color: rgb(255, 255, 255);'>Restaurant</th>
                <th style='background-color: rgb(255, 255, 255);'>WO#</th>
                <th style='background-color: rgb(255, 255, 255);'>Submitted On</th>
                <th style='background-color: rgb(255, 255, 255);'>Equipment</th>
                <th style='background-color: rgb(255, 255, 255);'>Submitted By</th>
                <th style='background-color: rgb(255, 255, 255);'>Team</th>
                <th style='background-color: rgb(255, 255, 255);'>Assigned To</th>
                <th style='background-color: rgb(255, 255, 255);'>Vendor</th>
                <th style='background-color: rgb(255, 255, 255);'>Updates</th>
                <th style='background-color: rgb(255, 255, 255);'>Last Update</th>
                <th style='background-color: rgb(255, 255, 255);'>Priority</th>
                <th style='background-color: rgb(255, 255, 255);'>Time Open</th>
              </tr>
            </thead>

            <tbody>
              <% @workorder_reports.each_with_index do |workorder, i| %>
                <tr class='border-top border-end border-start border-bottom-0 border-dark '>
                  <th scope='row' rowspan="<%= workorder.workorder_updates.size + 2 %>%" class='align-middle'><%= i + 1 %></th>
                  <td><%= workorder.store.number %></td>
                  <td><%= link_to workorder.id, workorder, class: 'btn btn-sm index-link w-100' %></td>
                  <td><%= workorder.created_at.strftime('%m/%d/%y @ %I:%M %p') %></td>
                  <td><%= link_to workorder.equipment.name, workorder.equipment, class: 'btn btn-sm index-link w-100' %></td>
                  <td><%= workorder.user.full_name %></td>
                  <td><%= workorder.team %></td>
                  <td><%= workorder.assigned? ? User.find(workorder.assigned).full_name : 'Not Assigned' %></td>
                  <td><%= workorder.vendor_id? ? Vendor.find(workorder.vendor_id).name : 'Not Assigned' %></td>
                  <td><%= workorder.workorder_updates.count %></td>
                  <td><%= workorder.workorder_updates.any? ? workorder.workorder_updates.last.created_at.strftime('%m/%d/%y') + ' ' + workorder.workorder_updates.last.user.full_name : 'No Updates' %></td>
                  <td><%= workorder.level? ? workorder.level : 'Not Assigned' %></td>
                  <td><%= time_ago_in_words(workorder.created_at) %></td>
                </tr>
                <tr class='border-top-white border-end border-bottom border-dark'>
                  <th>Issue:</th>
                  <td colspan='11'><%= workorder.workorder_issue %></td>
                </tr>
                <% if workorder.workorder_updates.any? %>
                  <% workorder.workorder_updates.order('id DESC').each_with_index do |update, i| %>
                     <tr style="border-bottom: 2px solid black; border-right: 2px solid black; ">
                      <td><%= update.created_at.strftime("%m/%d/%Y") %></td>
                      <td><%= update.user.full_name %>
                      <td colspan="12"><%= update.current_update %>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <h1 class='text-center'>No Workorders Found</h1>
      <% end %>
    </div>
  </div>
</div>
