<div id="cleanliness" data-controller="toggle" data-toggle-class="hidden">
  <div class="row align-items-center">
    <div class="col-1">
      <h5 id="cleanControl" data-action='click->toggle#toggle'>X</h5>
    </div>
    <div class="col-11">
      <h3 class="text-center">CLEANLINESS</h3>
    </div>
  </div>
  <div id="cleanQuestions" data-toggle-target='content'>
    <div class="mb-3">
      <%= form.label :lotGum, "Is the Lot Free of Gum? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :lotGum ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :lotGum ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :codClean, "Is The COD Area Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :codClean ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :codClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :codGum, "Is the COD Free of Gum? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :codGum ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :codGum ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :dtClean, "Is the DT Lane Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :dtClean ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :dtClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :dtGum, "Is the DT Lane Free of Gum? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :dtGum ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :dtGum ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :lotClean, "Is the Parking Lot Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :lotClean ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :lotClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :corralClean, "Is the Corral Clean?", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :corralClean ,1, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :corralClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :lidsClosed, "Are the Dumpster Lids Closed?", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :lidsClosed ,1, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :lidsClosed ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :dtGlassClean, "Are the DT Glass and Frame Clean?", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :dtGlassClean ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :dtGlassClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :windowsClean, "Are Lobby Doors and Windows Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :windowsClean ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :windowsClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :trashFull, "Are the outside trash bins clean and NOT overflowing? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :trashFull ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :trashFull ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :commentSignVisible, "Are the 800# signs on the Entry Doors? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :commentSignVisible ,1, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :commentSignVisible ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :floorClean, "Are the Floors Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :floorClean ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :floorClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :tableClean, "Are the Tables Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :tableClean ,3, class: "form-check-input shopRadioButton ml-5"%>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :tableClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :drinkClean, "Is the Beverage Bar Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :drinkClean ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :drinkClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :ventsClean, "Are Ceiling Vents Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :ventsClean ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :ventsClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :sanitizer, "Are Sanitizers Available? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :sanitizer ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :sanitizer ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :tvOn, "Are the Televisions in the Lobby and Playplace on the correct channels? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :tvOn ,2, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :tvOn ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :restroomClean, "Are the Restrooms Clean? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :restroomClean ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :restroomClean ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :insideTrash, "Are the trash bins clean and NOT overflowing? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :insideTrash ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :insideTrash ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :crewRoom, "Is the Crew Room Clean & Organized? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :crewRoom ,1, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :crewRoom ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :crewRoom ,"N/A", class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >N/A</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :cleanComment, "COMMENTS:", class: "font-weight-bold form-label" %><br>
      <%= form.text_area :cleanComment, {class: "form-control", rows: 4} %>
    </div>
  </div>
</div>