<div id="hospitality" data-controller="toggle" data-toggle-class="hidden">
  <div class="row align-items-center">
    <div class="col-1">
      <h5 id="hospitalityControl" data-action='click->toggle#toggle'>
        X
      </h5>
    </div>
    <div class="col-11">
      <h3 class="text-center">HOSPITALITY</h3>
    </div>
  </div>
  <div id="hospitalityQuestions" data-toggle-target='content'>
    <div class="mb-3 service">
      <%= form.label :order_taker_id, "Did the Order Taker:", class: 'form-label' %>
      <%= form.select :order_taker_id, [], {prompt: "Select Order Taker"}, {class: "form-select", data: { shop_target: "otName"}, required: true} %>
    </div>

    <div class="mb-3 service">
      <%= form.label :loyalty, "ASK if you would be using the McDonald's / Mobile App? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :loyalty ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :loyalty ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :loyalty_name, "If using App, did OT use your name?", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :loyalty_name ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :loyalty_name ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :loyalty_name ,"N/A", class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :presell, "PRE-SELL you the appropriate item? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :presell ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :presell ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :upsell, "Upsell you to a meal or Lg EVM? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :upsell ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :upsell ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :promptCondiments, "Prompt you for condiments needed? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :promptCondiments ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :promptCondiments ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :repeatOrderAsk, "Repeat you entire order and ask, 'Is that correct?' " %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :repeatOrderAsk ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :repeatOrderAsk ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :cashier_id, "Did the Cashier:", class: 'form-label' %><br>
      <%= form.select :cashier_id, [], {prompt: "Select Order Taker"}, {class: "form-select", data: { shop_target: "cashierName"}, required: true} %>
    </div>
    <div class="mb-3 service">
      <%= form.label :cashierGreeting, "Provide a friendly greeting and closing? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :cashierGreeting ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :cashierGreeting ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :cashierRound, "ASK, 'Would you like to round up your order for donation to RMHC?' ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :cashierRound ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :cashierRound ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :cashierAsk, "ASK, 'Did your order include ______?' (should be one of the unique items in your order)" %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :cashierAsk ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :cashierAsk ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3 service">
      <%= form.label :csPPE, "Cashier Appearance and PPE usage acceptable?", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :csPPE ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :csPPE ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :presenter_id, "Did the Presenter:", class: 'form-label' %><br>
      <%= form.select :presenter_id, [], {prompt: "Select Presenter"}, {class: "form-select", data: { shop_target: "presenterName"}, required: true} %>
    </div>

    <div class="mb-3">
      <%= form.label :presenterGreet, "Provide a friendly greeting and closing? ", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :presenterGreet ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :presenterGreet ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :presenterTell, "TELL you, 'Here is your order with _____.' (should be one of the unique items in your order). If Pulled Forward, Did the presenter tell you Where to go, Why your were pulled forward and When your order would be ready?" %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :presenterTell ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :presenterTell ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :pPPE, "Presenter Appearance and PPE usage acceptable?", class: 'form-label' %><br>
      <div class="form-check form-check-inline">
        <%= form.radio_button :pPPE ,3, class: "form-check-input shopRadioButton ml-5" %>
        <label class="form-check-label" >Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :pPPE ,0, class: "form-check-input shopRadioButton" %>
        <label class="form-check-label" >No</label>
      </div>
    </div>

    <div class="pf" id="pf">
      <div class="mb-3">
        <%= form.label :pf_presenter_id, "If you were pulled forward, did the pull forward presenter:", class: 'form-label' %><br>
        <%= form.select :pf_presenter_id, [], {prompt: "Select PF Presenter"}, {class: "form-select", data: { shop_target: "pfPresenterName"}, required: true} %>
      </div>

      <div class="mb-3">
        <%= form.label :p2PPE, "Pull Forward Presenter Appearance and PPE usage acceptable?", class: 'form-label' %><br>
        <div class="form-check form-check-inline">
          <%= form.radio_button :p2PPE ,3, class: "form-check-input shopRadioButton ml-5" %>
          <label class="form-check-label" >Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <%= form.radio_button :p2PPE ,0, class: "form-check-input shopRadioButton" %>
          <label class="form-check-label" >No</label>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :hospitalityComment, "COMMENTS:", class: "font-weight-bold form-label" %><br>
      <%= form.text_area :hospitalityComment, {class: "form-control", rows: 4} %>
    </div>
  </div>
</div>