<div id="<%= dom_id safe_audit %>">
  <p>
    <strong>User:</strong>
    <%= safe_audit.user_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= safe_audit.store_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= safe_audit.organization_id %>
  </p>

  <p>
    <strong>Safe audit date:</strong>
    <%= safe_audit.safe_audit_date %>
  </p>

  <p>
    <strong>Safe audit time:</strong>
    <%= safe_audit.safe_audit_time %>
  </p>

  <p>
    <strong>Shift manager:</strong>
    <%= safe_audit.shift_manager %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= safe_audit.comment %>
  </p>

  <p>
    <strong>Hundred:</strong>
    <%= safe_audit.hundred %>
  </p>

  <p>
    <strong>Fifty:</strong>
    <%= safe_audit.fifty %>
  </p>

  <p>
    <strong>Twenty:</strong>
    <%= safe_audit.twenty %>
  </p>

  <p>
    <strong>Ten:</strong>
    <%= safe_audit.ten %>
  </p>

  <p>
    <strong>Five:</strong>
    <%= safe_audit.five %>
  </p>

  <p>
    <strong>Two:</strong>
    <%= safe_audit.two %>
  </p>

  <p>
    <strong>One:</strong>
    <%= safe_audit.one %>
  </p>

  <p>
    <strong>Quarter:</strong>
    <%= safe_audit.quarter %>
  </p>

  <p>
    <strong>Dime:</strong>
    <%= safe_audit.dime %>
  </p>

  <p>
    <strong>Nickel:</strong>
    <%= safe_audit.nickel %>
  </p>

  <p>
    <strong>Penny:</strong>
    <%= safe_audit.penny %>
  </p>

  <p>
    <strong>Dollar coin:</strong>
    <%= safe_audit.dollar_coin %>
  </p>

  <p>
    <strong>Half dollar:</strong>
    <%= safe_audit.half_dollar %>
  </p>

  <p>
    <strong>Misc coin:</strong>
    <%= safe_audit.misc_coin %>
  </p>

  <p>
    <strong>Gift certificate:</strong>
    <%= safe_audit.gift_certificate %>
  </p>

  <p>
    <strong>Gift certificate redeemed:</strong>
    <%= safe_audit.gift_certificate_redeemed %>
  </p>

  <p>
    <strong>Receipt:</strong>
    <%= safe_audit.receipt %>
  </p>

  <p>
    <strong>Other:</strong>
    <%= safe_audit.other %>
  </p>

  <p>
    <strong>Coin changer:</strong>
    <%= safe_audit.coin_changer %>
  </p>

  <p>
    <strong>Drawer:</strong>
    <%= safe_audit.drawer %>
  </p>

  <p>
    <strong>Drawer amount:</strong>
    <%= safe_audit.drawer_amount %>
  </p>

  <p>
    <strong>Working headset:</strong>
    <%= safe_audit.working_headset %>
  </p>

  <p>
    <strong>Non working headset:</strong>
    <%= safe_audit.non_working_headset %>
  </p>

  <p>
    <strong>Total headset:</strong>
    <%= safe_audit.total_headset %>
  </p>

  <p>
    <strong>Misc other:</strong>
    <%= safe_audit.misc_other %>
  </p>

  <p>
    <strong>Total safe:</strong>
    <%= safe_audit.total_safe %>
  </p>

  <p>
    <strong>Safe variance:</strong>
    <%= safe_audit.safe_variance %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= safe_audit.manager %>
  </p>

  <p>
    <strong>Signature:</strong>
    <%= safe_audit.signature %>
  </p>

  <p>
    <strong>Missing headset:</strong>
    <%= safe_audit.missing_headset %>
  </p>

  <p>
    <strong>Ipad:</strong>
    <%= safe_audit.ipad %>
  </p>

</div>
