
      <%= form_with(model: store) do |form| %>
        <% if store.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>
            <ul>
              <% store.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12 col-md-4">
            <div class="mb-3" >
              <%= form.label :name, class: "form-label" %>
              <%= form.text_field :name, class: "form-control", required: true %>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3" >
              <%= form.label :number, class: "form-label" %>
              <%= form.number_field :number, class: "form-control", required: true   %>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3" >
              <%= form.label :store_type, "Store Type",  class: "form-label" %>
              <%= form.select :store_type, Store::STORE_TYPE, {:include_blank => "Select Type"}, {class: "form-control", required: true }  %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3" >
              <%= form.label :phone, class: "form-label" %>
              <em><small>(format 1-xxx-xxx-xxxx)</small></em>
              <%= form.telephone_field :phone, class: "form-control", required: true   %>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="mb-3" >
              <%= form.label :email, class: "form-label" %>
              <%= form.email_field :email, class: "form-control", required: true   %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6 col-md-3">
            <div class="mb-3" >
              <%= form.label :street, class: "form-label" %>
              <%= form.text_field :street , class: "form-control", required: true  %>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="mb-3" >
              <%= form.label :city, class: "form-label" %>
              <%= form.text_field :city, class: "form-control", required: true   %>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="mb-3" >
              <%= form.label :state, class: "form-label" %>
              <%= form.text_field :state, class: "form-control", required: true   %>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="mb-3" >
              <%= form.label :zip, class: "form-label" %>
              <%= form.text_field :zip, class: "form-control", required: true   %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <div class="mb-3" >
              <%= form.label :safe, class: "form-label" %>
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <%= form.text_field :safe, class: "form-control", required: true   %>
              </div>
            </div>
          </div>
           <div class="col-12 col-md-4">
            <div class="mb-3" >
              <%= form.label :ipad, "IPad #", class: "form-label" %>
              <%= form.number_field :ipad, class: "form-control", required: true  %>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="mb-3" >
              <%= form.label :headset, class: "form-label" %>
              <%= form.number_field :headset, class: "form-control", required: true  %>
            </div>
          </div>
        </div>
        <% if current_user.admin %>
          <div class="row">
            <div class="col-6 col-md-3">
              <div class="form-check mb-3">
                <%= form.label :active, class: "form-check-label" %>
                <%= form.check_box :active, class: "form-check-input" %>
              </div>
            </div>
          </div>
        <% end %>
        <div>
          <%= form.submit class: "btn my-submit" %>
        </div>
      <% end %>