<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= store.number %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= store.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= store.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= store.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= store.zip %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= store.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= store.email %>
  </p>

  <p>
    <strong>Safe:</strong>
    <%= store.safe %>
  </p>

  <p>
    <strong>Headset:</strong>
    <%= store.headset %>
  </p>

  <p>
    <strong>Store type:</strong>
    <%= store.store_type %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= store.active %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= store.organization_id %>
  </p>

</div>
