<div class="card mb-5">
  <div class="card-header">
      <h2 class="text-center"><%= @store.number.to_s  %> <%=  @store.name %>  - GM: <%=  @store.users.where(position_id: 5).any? ? @store.users.where(position_id: 5)[0].full_name : "Not Assigned"  %> - <%= @store.store_type %></h2>
      <h3 class="text-center">
        <%= @store.street %>, <%= @store.city %> <%= @store.state%> <%= @store.zip %>
      </h3>
      <h4 class="text-center"><%= number_to_phone(@store.phone) %> | <%= @store.email %></h4>
      <% unless current_user.position.name === "Crew" %>
        <h4 class="text-center">Safe <%= number_to_currency(@store.safe, precision: 0) %> | # Headsets <%= @store.headset %></h4>
        <h4 class="text-center">Documentation Earned</h4>
        <h4 class="text-center">Commendations</h4>
        <h5 class="text-center">MTD: <%= @store.documentations.where(document_date: Date.today.beginning_of_month..Date.today, documentation_type: "Commendation").size %> QTD: <%= @store.documentations.where(document_date: Date.today.beginning_of_quarter..Date.today, documentation_type: "Commendation").size %> YTD: <%= @store.documentations.where(document_date: Date.today.beginning_of_year..Date.today, documentation_type: "Commendation").size %></h5>
        <h4 class="text-center">Documentations</h4>
        <h5 class="text-center">MTD: <%= @store.documentations.where(document_date: Date.today.beginning_of_month..Date.today, documentation_type: "Documentation").size %> QTD: <%= @store.documentations.where(document_date: Date.today.beginning_of_quarter..Date.today, documentation_type: "Documentation").size %> YTD: <%= @store.documentations.where(document_date: Date.today.beginning_of_year..Date.today, documentation_type: "Documentation").size %></h5>
      <% end %>
    </div>
  <div class="card-body">
    <%= render "/stores/staff/management" %>
    <%= render "/stores/staff/in_training" %>
    <%= render "/stores/staff/new_hires" %>
    <div class="d-grid gap-1 d-md-flex justify-content-md-end mt-3" >
      <%= link_to "Roster", "/store_roster/#{@store.id}", class: "btn my-submit me-md-1" %>
      <% if policy(:food_handler_card).index? %>
        <%= link_to "Servsafe Cards", food_handler_cards_path(:store_id => @store.id), class: "btn my-submit me-md-1" %>
      <% end %>
      <%= link_to "Restaurants", stores_path, class: "btn my-submit me-md-1" %>
      <% if current_user.admin %>
        <%= link_to "Edit", edit_store_path(@store), class: "btn my-submit me-md-1" %>
        <%= button_to "Deactivate", @store, method: :delete , class: "btn my-submit" %>
      <% end %>
    </div>
  </div>
</div>
