<p style="color: green"><%= notice %></p>

<%= render @equipment_type %>

<div>
  <%= link_to "Edit this equipment type", edit_equipment_type_path(@equipment_type) %> |
  <%= link_to "Back to equipment types", equipment_types_path %>

  <%= button_to "Destroy this equipment type", @equipment_type, method: :delete %>
</div>
