<div id="<%= dom_id workorder %>">
  <p>
    <strong>Store:</strong>
    <%= workorder.store_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= workorder.user_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= workorder.organization_id %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= workorder.equipment_id %>
  </p>

  <p>
    <strong>Equipment area:</strong>
    <%= workorder.equipment_area_id %>
  </p>

  <p>
    <strong>Equipment type:</strong>
    <%= workorder.equipment_type_id %>
  </p>

  <p>
    <strong>Workorder issue:</strong>
    <%= workorder.workorder_issue %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= workorder.status %>
  </p>

  <p>
    <strong>Assigned:</strong>
    <%= workorder.assigned %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= workorder.level %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= workorder.team %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= workorder.vendor_id %>
  </p>

</div>
