<div class="card mb-5">
  <h2 class="text-center card-header">Register <%= @training_registration.full_name %> For Training</h2>
  <div class="card-body" data-controller="student" data-student-id-value="<%= @training_registration.id %>">
    <div id="classes" data-student-target="tclasses">
      <%= form_with url: "/register", method: :get do |form| %>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <%= form.label :curriculum, "Curriculum", class: "form-label" %>
              <%= form.collection_select :curriculum, @curriculum, :id, :name, { prompt: "Select Curriculum" }, class: "form-select", data: { action: "change->student#get_tclasses" }, required: true %>
            </div>
          </div>
        </div>
        <%= form.hidden_field :id, value: @training_registration.id %>
        <div class="mt-4">
          <%= form.submit "Register", class: "btn my-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>