<div id="<%= dom_id document %>">
  <p>
    <strong>Organization:</strong>
    <%= document.organization_id %>
  </p>

  <p>
    <strong>Documentation type:</strong>
    <%= document.documentation_type %>
  </p>

  <p>
    <strong>Documentation class:</strong>
    <%= document.documentation_class %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= document.level %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= document.definition %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= document.points %>
  </p>

</div>
