<div class="card mb-5">
  <h2 class="card-header text-center">Document List</h2>
  <%= form_with url: "",  method: :get, data: { turbo_frame: "documents", turbo_action: "advance" }, class: "pb-3" do |form| %>
    <div class="pt-3 row justify-content-between">
      <div class="col-12 col-md-5 col-xl-2 ms-3">
        <div class="row">
          <%= form.label "Show", class: "col-4 mb-3 col-form-label" %>
          <div class="col-7">
            <%= form.select :count, options_for_select([10, 25, 50], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()", class: "form-control", placeholder: "Show"}  %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4  me-3">
        <%= form.search_field :query, value: params[:query], oninput: "this.form.requestSubmit()", class: "form-control", placeholder: "Search By Name" %>
      </div>
    </div>
  <% end %>
  <div class="table-responsive card-body">
    <%= turbo_frame_tag "documents" do %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Class</th>
            <th scope="col">Level</th>
            <th scope="col">Details</th>
            <th scope="col">Points</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @documents.each_with_index do |document, i| %>
            <tr id="<%= dom_id(document) %>" >
              <th scope="row"><%= i + 1 %></th>
              <td><%= document.documentation_type %></td>
              <td><%= document.documentation_class %></td>
              <td><%= document.level %></td>
              <td><%= document.definition %></td>
              <td><%= document.points %></td>
              <td>
                <% if policy(:document).edit? %>
                  <%= link_to "Edit", edit_document_path(document), class: "px-2 table-link",  data: { turbo: false } %>
                <% end %>
                <% if policy(:document).destroy? %>
                  | <%= link_to "Remove", document,  class: "px-2 table-link",  data: { turbo_method: :delete, turbo_confirm: "You Are About To Remove This Document!" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="p-4">
        <%== pagy_nav @pagy %>
      </div>
    <% end %>
  </div>
</div>