<div id="<%= dom_id food_safety_audit %>">

  <p>
    <strong>Shop date:</strong>
    <%= food_safety_audit.shop_date %>
  </p>

  <p>
    <strong>Shop time:</strong>
    <%= food_safety_audit.shop_time %>
  </p>

  <p>
    <strong>Fs1 us:</strong>
    <%= food_safety_audit.fs1_us %>
  </p>

  <p>
    <strong>Fs2 us:</strong>
    <%= food_safety_audit.fs2_us %>
  </p>

  <p>
    <strong>Fs3 us:</strong>
    <%= food_safety_audit.fs3_us %>
  </p>

  <p>
    <strong>Fs4 us:</strong>
    <%= food_safety_audit.fs4_us %>
  </p>

  <p>
    <strong>Fs5 us:</strong>
    <%= food_safety_audit.fs5_us %>
  </p>

  <p>
    <strong>Fs6 us:</strong>
    <%= food_safety_audit.fs6_us %>
  </p>

  <p>
    <strong>Fs7 us:</strong>
    <%= food_safety_audit.fs7_us %>
  </p>

  <p>
    <strong>Fs8 us:</strong>
    <%= food_safety_audit.fs8_us %>
  </p>

  <p>
    <strong>Fs9 us:</strong>
    <%= food_safety_audit.fs9_us %>
  </p>

  <p>
    <strong>Fs10 us:</strong>
    <%= food_safety_audit.fs10_us %>
  </p>

  <p>
    <strong>Fs11 us:</strong>
    <%= food_safety_audit.fs11_us %>
  </p>

  <p>
    <strong>Fs12 us:</strong>
    <%= food_safety_audit.fs12_us %>
  </p>

  <p>
    <strong>Fs13 us:</strong>
    <%= food_safety_audit.fs13_us %>
  </p>

  <p>
    <strong>Fs14 us:</strong>
    <%= food_safety_audit.fs14_us %>
  </p>

  <p>
    <strong>Fs15 us:</strong>
    <%= food_safety_audit.fs15_us %>
  </p>

  <p>
    <strong>Fs16 us:</strong>
    <%= food_safety_audit.fs16_us %>
  </p>

  <p>
    <strong>Fs17 us:</strong>
    <%= food_safety_audit.fs17_us %>
  </p>

  <p>
    <strong>Fs18 us:</strong>
    <%= food_safety_audit.fs18_us %>
  </p>

  <p>
    <strong>Fs19 us:</strong>
    <%= food_safety_audit.fs19_us %>
  </p>

  <p>
    <strong>Fs19 us 01:</strong>
    <%= food_safety_audit.fs19_us_01 %>
  </p>

  <p>
    <strong>Fs20 us:</strong>
    <%= food_safety_audit.fs20_us %>
  </p>

  <p>
    <strong>Fs21 us:</strong>
    <%= food_safety_audit.fs21_us %>
  </p>

  <p>
    <strong>Fs22 us:</strong>
    <%= food_safety_audit.fs22_us %>
  </p>

  <p>
    <strong>Fs23 us:</strong>
    <%= food_safety_audit.fs23_us %>
  </p>

  <p>
    <strong>Fs24 us:</strong>
    <%= food_safety_audit.fs24_us %>
  </p>

  <p>
    <strong>Fs25 us:</strong>
    <%= food_safety_audit.fs25_us %>
  </p>

  <p>
    <strong>Fs26 us:</strong>
    <%= food_safety_audit.fs26_us %>
  </p>

  <p>
    <strong>Fs26 us 01:</strong>
    <%= food_safety_audit.fs26_us_01 %>
  </p>

  <p>
    <strong>Fs27 us:</strong>
    <%= food_safety_audit.fs27_us %>
  </p>

  <p>
    <strong>Fs28 us:</strong>
    <%= food_safety_audit.fs28_us %>
  </p>

  <p>
    <strong>Fs29 us:</strong>
    <%= food_safety_audit.fs29_us %>
  </p>

  <p>
    <strong>Fs30 us:</strong>
    <%= food_safety_audit.fs30_us %>
  </p>

  <p>
    <strong>Fs31 us:</strong>
    <%= food_safety_audit.fs31_us %>
  </p>

  <p>
    <strong>Fs32 us:</strong>
    <%= food_safety_audit.fs32_us %>
  </p>

  <p>
    <strong>Fs33 us:</strong>
    <%= food_safety_audit.fs33_us %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= food_safety_audit.store_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= food_safety_audit.organization_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= food_safety_audit.score %>
  </p>



</div>
