  <h2><%= @documentation.level %> <%= @documentation.documentation_type %> for <%= @documentation.employee_named.full_name %></h2>
  <% if @documentation.documentation_type == "Commendation" %>
    <h4>You have been recognized by <%= @documentation.awarded_by.full_name %> on <%= @documentation.document_date.strftime("%m/%d/%y") %> for <%= @documentation.description %></h4>
  <% else %>
    <h4>Your <%= @documentation.documentation_class %> on <%= @documentation.document_date.strftime("%m/%d/%y") %> was identified as an exception by <%= @documentation.awarded_by.full_name %>. Details: <%= @documentation.description %></h4>
  <% end %>
  <h3 class="text-center">This takes your current point total to <%= @documentation.accumulated_points %>!</h3>
  <% if @documentation.pictures.any? %>
    <% @documentation.pictures.each do |p|%>
      <div class="row justify-content-center">
        <div class='col-12 col-lg-4 col-xl-3'>
          <%= image_tag p.variant(resize_to_fit: [300, 300]), class: "my-4" %>
        </div>
      </div>
    <% end %>
  <% end %>
