<div id="<%= dom_id new_hire %>">
  <p>
    <strong>Organization:</strong>
    <%= new_hire.organization_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= new_hire.store_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= new_hire.user_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= new_hire.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= new_hire.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= new_hire.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= new_hire.phone %>
  </p>

  <p>
    <strong>Social:</strong>
    <%= new_hire.social %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= new_hire.rate %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= new_hire.birthdate %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= new_hire.position_id %>
  </p>

  <p>
    <strong>Referred by:</strong>
    <%= new_hire.referred_by %>
  </p>

  <p>
    <strong>Rehire:</strong>
    <%= new_hire.rehire %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= new_hire.notes %>
  </p>

  <p>
    <strong>Hear:</strong>
    <%= new_hire.hear %>
  </p>

  <p>
    <strong>Attended:</strong>
    <%= new_hire.attended %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= new_hire.requirements %>
  </p>

  <p>
    <strong>Background received:</strong>
    <%= new_hire.background_received %>
  </p>

  <p>
    <strong>Background ok:</strong>
    <%= new_hire.background_ok %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= new_hire.comments %>
  </p>

  <p>
    <strong>Background na:</strong>
    <%= new_hire.background_na %>
  </p>

</div>
