<div id="<%= dom_id new_hire %>">

  <p>
    <strong>Email:</strong>
    <%= new_hire.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= new_hire.phone %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= new_hire.birthdate %>
  </p>

  <p>
    <strong>Referred by:</strong>
    <%= new_hire.referred_by %>
  </p>

  <p>
    <strong>Rehire:</strong>
    <%= new_hire.rehire %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= new_hire.notes %>
  </p>

  <p>
    <strong>Hear:</strong>
    <%= new_hire.hear %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= new_hire.requirements %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= new_hire.comments %>
  </p>

</div>
