 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle caret-off" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Comments
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% if policy(:comment).new? %>
      <li>
        <%= link_to new_comment_path, class: "dropdown-item" do %>
          <i class="fa fa-comment-medical me-1"></i>
          New Comment
        <% end %>
      </li>
    <% end %>
    <% if policy(:comment).index? %>
      <li>
        <%= link_to comments_path, class: "dropdown-item" do %>
          <i class="fa fa-comments me-1"></i>
          Open Comments
          <span class="badge rounded-pill bg-light text-dark"><%= comment_badge %></span>
        <% end %>
      </li>
      <% if policy(:comment).index? %>
        <li>
          <%= link_to new_comment_report_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-file-chart-column me-1"></i>
            Comment Report
          <% end %>
        </li>
      <% end %>
    <% end %>
    <% if policy(:guest).index? %>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= link_to guests_path, class: "dropdown-item" do %>
          <i class="fa-solid fa-people-group me-1"></i>
          Guests
        <% end %>
      </li>
    <% end %>
    <% if current_user.admin %>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= link_to  "/ftks_comments", class: "dropdown-item" do %>
          <i class="fa-solid fa-newspaper me-1"></i>
          FTKS
        <% end %>
      </li>
    <% end %>
  </ul>
</li>