 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle caret-off" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Documentation
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% if policy(:documentation).new? %>
      <li>
        <%= link_to  new_documentation_path, class: "dropdown-item" do %>
          <i class="fa-solid fa-file-certificate me-1"></i>
          New Record
        <% end %>
      </li>
    <% end %>
    <% if policy(:documentation).index? %>
      <li>
        <%= link_to  documentations_path, class: "dropdown-item" do %>
          <i class="fa-solid fa-folders me-1"></i>
          Documentations
        <% end %>
      </li>
      <li>
        <%= link_to  "", class: "dropdown-item" do %>
          <i class="fa-solid fa-file-chart-column me-1"></i>
          Documentation Report
        <% end %>
      </li>
    <% end %>
    <% if policy(:documentation).edit? %>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= link_to  new_document_path, class: "dropdown-item" do %>
          <i class="fa-solid fa-file-circle-plus me-1"></i>
          New Document
        <% end %>
      </li>
    <% end %>
    <% if policy(:equipment).new? %>
      <li>
        <%= link_to  documents_path, class: "dropdown-item" do %>
          <i class="fa-solid fa-list me-1"></i>
          Document List
        <% end %>
      </li>
    <% end %>
    <% if policy(:reward).index? %>
      <li><hr class="dropdown-divider"></li>
      <% if policy(:reward).new? %>
        <li>
          <%= link_to new_reward_path, class: "dropdown-item" do %>
            <i class="fa-solid fa-award me-1"></i>
            New Reward
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to rewards_path, class: "dropdown-item" do %>
          <i class="fa-solid fa-trophy me-1"></i>
          Rewards
        <% end %>
      </li>
      <li>
        <%= link_to "", class: "dropdown-item" do %>
          <i class="fa-solid fa-envelope-open-dollar me-1"></i>
          Pending Rewards
          <span class="badge rounded-pill bg-light text-dark"><%= %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>