<div id="<%= dom_id workorder_update %>">
  <p>
    <strong>User:</strong>
    <%= workorder_update.user_id %>
  </p>

  <p>
    <strong>Workorder:</strong>
    <%= workorder_update.workorder_id %>
  </p>

  <p>
    <strong>Current update:</strong>
    <%= workorder_update.current_update %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= workorder_update.manager %>
  </p>

  <p>
    <strong>Signature:</strong>
    <%= workorder_update.signature %>
  </p>

</div>
