<div id="<%= dom_id comment_update %>">
  <p>
    <strong>Update date:</strong>
    <%= comment_update.update_date %>
  </p>

  <p>
    <strong>Update time:</strong>
    <%= comment_update.update_time %>
  </p>

  <p>
    <strong>Update type:</strong>
    <%= comment_update.update_type %>
  </p>

  <p>
    <strong>Current update:</strong>
    <%= comment_update.current_update %>
  </p>

  <p>
    <strong>Employee name:</strong>
    <%= comment_update.employee_name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment_update.comment_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment_update.user_id %>
  </p>

</div>
