<div class="card mb-5">
  <h2 class="card-header text-center">Registered Users</h2>
  <%= form_with url: "",  method: :get, data: { turbo_frame: "users", turbo_action: "advance", controller: "form", action: "input->form#submit" }, class: "pb-3" do |form| %>
    <div class="pt-3 row justify-content-between">
      <div class="col-12 col-md-5 col-xl-2 ms-3">
        <div class="row">
          <%= form.label "Show", class: "col-4 mb-3 col-form-label" %>
          <div class="col-7">
            <%= form.select :count, options_for_select([10, 25, 50], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()", class: "form-control", placeholder: "Show"}  %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 me-3">
        <%= form.search_field :query, value: params[:query], class: "form-control", placeholder: "Search By Name" %>
      </div>
    </div>
  <% end %>
  <div class="table-responsive card-body">
    <%= turbo_frame_tag "users" do %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Location</th>
            <th scope="col"><%= sort_link_to "Name", :first_name, data: {turbo_action: "advance" }, class: "table-link" %></th>
            <th scope="col"><%= sort_link_to "Position", :position_id, data: {turbo_action: "advance" }, class: "table-link" %></th>
            <th scope="col">Birthdate</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <% if current_user.admin %>
              <th scope="col">Points</th>
            <% end %>
            <th scope="col">ServSafe Exp</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, i| %>
            <tr id="<%= dom_id(user) %>" >
              <th scope="row"><%= i + 1 %></th>
              <td><%=
                user.stores.any? ? user.stores[0].number : "Office"
              %></td>
              <td><%= link_to user.full_name, user, data: {turbo: false}, class: "table-link" %></td>
              <td><%= user.position.name %></td>
              <td><%= user.birthdate.strftime("%m/%d/%Y") %></td>
              <td><%= user.hire_date.strftime("%m/%d/%Y") %></td>
              <td><%= sms_to(number_to_phone(user.phone)) %></td>
              <td><%= mail_to(user.email) %></td>
              <% if current_user.admin %>
                <td><%= user.accumulated_points %></td>
              <% end %>
              <td><%= user.food_handler_card ? user.food_handler_card.expiration_date.strftime("%m/%d/%Y") : "No Card" %></td>
              <td>
                <% if current_user.position.name == "Director" %>
                  <%= link_to "Login As ", masquerade_path(user), class: "px-2 table-link", data: { turbo: false } %> |
                <% end %>
                <% if policy(:user).edit? %>
                  <%= link_to "Edit", edit_user_path(user), class: "px-2 table-link",  data: { turbo: false } %>
                <% end %>
                <% if policy(:user).destroy? %>
                  | <%= link_to "Deactivate", user,  class: "px-2 table-link",  data: { turbo_method: :delete, turbo_confirm: "You Are About To Deactivate #{user.full_name.titleize}! Note that ALL earned Points (#{user.accumulated_points}), Rewards and Documentation will be PERMANENTLY lost!" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="p-4">
        <%== pagy_nav @pagy %>
      </div>
    <% end %>
  </div>
</div>