<div class="card mb-5">
  <div class="card-header">
    <h2 class="text-center"><%= @user.full_name %> - <%= @user.food_handler_card ? "Servsafe Expires: #{@user.food_handler_card.expiration_date.strftime("%m/%d/%Y")}" : "No Servsafe Registered" %></h2>
    <h4 class="text-center phone-link">Send Text: <%= mobile_device? ? sms_to(@user.phone) : @user.phone %>  | Send Email: <%= mail_to(@user.email)%></h4>
  </div>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-auto ">
        <div class="card">
          <h3 class="text-center card-header">Total Recognition Points: <%= @user.accumulated_points %></h3>
          <div class="card-body">
            <h5>Earned documentation: </h5>
            <ul>
              <li>Praise! <%= @user.employee_named_documentations.where(level: "Praise!").size %></li>
              <li>Cheers! <%= @user.employee_named_documentations.where(level: "Cheers!").size %></li>
              <li>Applause! <%= @user.employee_named_documentations.where(level: "Applause!").size %></li>
              <li>Major <%= @user.employee_named_documentations.where(level: "Major").size %></li>
              <li>Serious <%= @user.employee_named_documentations.where(level: "Serious").size %></li>
              <li>Critical <%= @user.employee_named_documentations.where(level: "Critical").size %></li>
            </ul>
            <div class="row">
              <div class="col-12">
              <h5 class="text-center">You have redeemed <%= number_to_currency(redeemed_dollars(@user), precision: 0) %></h5>
              </div>
            </div>
            <% if @user.id === current_user.id %>
              <%= link_to "Documentation", documentations_path, class: "btn my-submit my-3" %>
              <%= link_to "Claim Reward", "/rewards/claim_my_reward/#{@user.id}", class: "btn my-submit my-3" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <turbo-frame id="my-schedule" src="/my_schedule/<%= @user.id %>">
        </turbo-frame>
      </div>
      <div class="col-auto">
        <turbo-frame id="training-history" src="/training_history/<%= @user.id %>">
        </turbo-frame>
      </div>
    </div>
    <% if current_user.position.name.in? ["General Manager", "Supervisor", "Director", "Business Director", "Training Manager", "Training Assistant", "HR Manager", "Maint Department Head", "Technology Department Head", "PM Department Head", "Maint Tech Department Head"]%>
      <div class="d-grid gap-2 d-md-flex mt-5">
        <%= link_to "Add Training", new_training_registration_path(:id => @user.id), class: "btn my-submit"%>
        <% if policy(:food_handler_card).new? %>
          <% if @user.food_handler_card %>
            <%= link_to "Update Servsafe", edit_food_handler_card_path(@user.food_handler_card), class: "btn my-submit"%>
          <% else %>
            <%= link_to "Add Servsafe", new_food_handler_card_path(:id => @user.id), class: "btn my-submit"%>
          <% end %>
        <% end %>
        <% if policy(:user).edit? %>
          <%= link_to "Edit", edit_user_path(@user), class: "btn my-submit",  data: { turbo: false } %>
        <% end %>
        <% if policy(:user).destroy? %>
          <%= link_to "Deactivate", @user,  class: "btn my-submit",  data: { turbo_method: :delete, turbo_confirm: "You Are About To Deactivate #{@user.full_name.titleize}! Note that ALL earned Points (#{@user.accumulated_points}), Rewards and Documentation will be PERMANENTLY lost!" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>