<%= form_with(model: moc) do |form| %>
  <% if moc.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(moc.errors.count, "error") %> prohibited this moc from being saved:</h2>

      <ul>
        <% moc.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-header">
    <h2>Shift Leader Performance Tool</h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mb-3">
          <%= form.label :store_id, "Location", class: "form-label" %>
          <%= form.collection_select :store_id, Store.where(active: true).order('number ASC'), :id, :number, {prompt: "Select Restaurant"}, {class: "form-select", required: true} %>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mb-3">
          <%= form.label :moc_date, "Date", class: "form-label" %>
          <%= form.date_field :moc_date, class: "form-control" %>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="mb-3">
          <%= form.label :moc_time, "Time", class: "form-label" %>
          <%= form.time_field :moc_time, class: "form-control"  %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <div class="mb-3">
          <%= form.label :ops_score, class: "form-label" %>
          <%= form.text_field :ops_score, class: "form-control" %>
        </div>
      </div>
      <div class="col-5">
        <div class="mb-3">
          <%= form.label :service_score, class: "form-label" %>
          <%= form.text_field :service_score, class: "form-control" %>
        </div>
      </div>
      <div class="col-5">
        <div class="mb-3">
          <%= form.label :quality_score, class: "form-label" %>
          <%= form.text_field :quality_score, class: "form-control" %>
        </div>
      </div>
      <div class="col-5">
        <div class="mb-3">
          <%= form.label :cleanliness_score, class: "form-label" %>
          <%= form.text_field :cleanliness_score, class: "form-control" %>
        </div>
      </div>
      <div class="col-2">
        <div class="mb-3">
          <%= form.label :verified, class: "form-label" %>
          <%= form.check_box :verified, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Purpose</h3>
        <ol>
          <li>To determine if the shift leader can lead the shift successfully.</li>
          <li>To assess the shift leader to establish what is working well and what would work even better by:</li>
          <ul>
            <li>Setting performance expectations</li>
            <li>Reinforcing standards of operations</li>
            <li>Reinforcing effective people practices</li>
          </ul>
        </ol>
      </div>
      <div class="col">
        <h3>Instructions</h3>
        <ol>
          <li>The Coach and Participant</li>
          <ul>
            <li>Review the document to understand the behaviors of a successful shift leader.</li>
            <li>St and record shift targets</li>
          </ul>
          <li>The Coach</li>
          <ul>
            <li>Observes pre-shift, managing the area, and post-shift tasks.</li>
            <li>Complete points assessment for all four sections.</li>
          </ul>
          <li>The Coach</li>
          <ul>
            <li>Determine the result by totaling the questions answered "yes" for each section.</li>
          </ul>
          <li>The Coach & Participant</li>
          <ul>
            <li>Use the "Shift Leader Success Factors" page of this tool to discuss what the partipant did well, and what they may need more practice with.</li>
            <li>Develop an action plan</li>
          </ul>
        </ol>
      </div>
    </div>
    <div class="row">

    </div>

    <div class="mb-3">
      <%= form.label :dt_target_1, class: "form-label" %>
      <%= form.text_field :dt_target_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_target_2, class: "form-label" %>
      <%= form.text_field :dt_target_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_target_3, class: "form-label" %>
      <%= form.text_field :dt_target_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_actual_1, class: "form-label" %>
      <%= form.text_field :dt_actual_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_actual_2, class: "form-label" %>
      <%= form.text_field :dt_actual_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_actual_3, class: "form-label" %>
      <%= form.text_field :dt_actual_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_oepe_target_1, class: "form-label" %>
      <%= form.text_field :dt_oepe_target_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_oepe_target_2, class: "form-label" %>
      <%= form.text_field :dt_oepe_target_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_oepe_target_3, class: "form-label" %>
      <%= form.text_field :dt_oepe_target_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_oepe_actual_1, class: "form-label" %>
      <%= form.text_field :dt_oepe_actual_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_oepe_actual_2, class: "form-label" %>
      <%= form.text_field :dt_oepe_actual_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :dt_oepe_actual_3, class: "form-label" %>
      <%= form.text_field :dt_oepe_actual_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_guest_target_1, class: "form-label" %>
      <%= form.text_field :di_guest_target_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_guest_target_2, class: "form-label" %>
      <%= form.text_field :di_guest_target_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_guest_target_3, class: "form-label" %>
      <%= form.text_field :di_guest_target_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_guest_actual_1, class: "form-label" %>
      <%= form.text_field :di_guest_actual_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_guest_actual_2, class: "form-label" %>
      <%= form.text_field :di_guest_actual_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_guest_actual_3, class: "form-label" %>
      <%= form.text_field :di_guest_actual_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_time_target_1, class: "form-label" %>
      <%= form.text_field :di_time_target_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_time_target_2, class: "form-label" %>
      <%= form.text_field :di_time_target_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_time_target_3, class: "form-label" %>
      <%= form.text_field :di_time_target_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_time_actual_1, class: "form-label" %>
      <%= form.text_field :di_time_actual_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_time_actual_2, class: "form-label" %>
      <%= form.text_field :di_time_actual_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :di_time_actual_3, class: "form-label" %>
      <%= form.text_field :di_time_actual_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_target_1, class: "form-label" %>
      <%= form.text_field :add_target_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_target_2, class: "form-label" %>
      <%= form.text_field :add_target_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_target_3, class: "form-label" %>
      <%= form.text_field :add_target_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_target_4, class: "form-label" %>
      <%= form.text_field :add_target_4 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_target_5, class: "form-label" %>
      <%= form.text_field :add_target_5 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_target_6, class: "form-label" %>
      <%= form.text_field :add_target_6 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_actual_1, class: "form-label" %>
      <%= form.text_field :add_actual_1 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_actual_2, class: "form-label" %>
      <%= form.text_field :add_actual_2 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_actual_3, class: "form-label" %>
      <%= form.text_field :add_actual_3 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_actual_4, class: "form-label" %>
      <%= form.text_field :add_actual_4 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_actual_5, class: "form-label" %>
      <%= form.text_field :add_actual_5 %>
    </div>

    <div class="mb-3">
      <%= form.label :add_actual_6, class: "form-label" %>
      <%= form.text_field :add_actual_6 %>
    </div>

    <div class="mb-3">
      <%= form.label :q1, class: "form-label" %>
      <%= form.text_field :q1 %>
    </div>

    <div class="mb-3">
      <%= form.label :q2, class: "form-label" %>
      <%= form.text_field :q2 %>
    </div>

    <div class="mb-3">
      <%= form.label :q3, class: "form-label" %>
      <%= form.text_field :q3 %>
    </div>

    <div class="mb-3">
      <%= form.label :q4, class: "form-label" %>
      <%= form.text_field :q4 %>
    </div>

    <div class="mb-3">
      <%= form.label :q5, class: "form-label" %>
      <%= form.text_field :q5 %>
    </div>

    <div class="mb-3">
      <%= form.label :q6, class: "form-label" %>
      <%= form.text_field :q6 %>
    </div>

    <div class="mb-3">
      <%= form.label :q7, class: "form-label" %>
      <%= form.text_field :q7 %>
    </div>

    <div class="mb-3">
      <%= form.label :q8, class: "form-label" %>
      <%= form.text_field :q8 %>
    </div>

    <div class="mb-3">
      <%= form.label :q9, class: "form-label" %>
      <%= form.text_field :q9 %>
    </div>

    <div class="mb-3">
      <%= form.label :q10, class: "form-label" %>
      <%= form.text_field :q10 %>
    </div>

    <div class="mb-3">
      <%= form.label :q11, class: "form-label" %>
      <%= form.text_field :q11 %>
    </div>

    <div class="mb-3">
      <%= form.label :q12, class: "form-label" %>
      <%= form.text_field :q12 %>
    </div>

    <div class="mb-3">
      <%= form.label :q13, class: "form-label" %>
      <%= form.text_field :q13 %>
    </div>

    <div class="mb-3">
      <%= form.label :q14, class: "form-label" %>
      <%= form.text_field :q14 %>
    </div>

    <div class="mb-3">
      <%= form.label :q15, class: "form-label" %>
      <%= form.text_field :q15 %>
    </div>

    <div class="mb-3">
      <%= form.label :q16, class: "form-label" %>
      <%= form.text_field :q16 %>
    </div>

    <div class="mb-3">
      <%= form.label :q17, class: "form-label" %>
      <%= form.text_field :q17 %>
    </div>

    <div class="mb-3">
      <%= form.label :q18, class: "form-label" %>
      <%= form.text_field :q18 %>
    </div>

    <div class="mb-3">
      <%= form.label :q19, class: "form-label" %>
      <%= form.text_field :q19 %>
    </div>

    <div class="mb-3">
      <%= form.label :q20, class: "form-label" %>
      <%= form.text_field :q20 %>
    </div>

    <div class="mb-3">
      <%= form.label :q21, class: "form-label" %>
      <%= form.text_field :q21 %>
    </div>

    <div class="mb-3">
      <%= form.label :q22, class: "form-label" %>
      <%= form.text_field :q22 %>
    </div>

    <div class="mb-3">
      <%= form.label :q23, class: "form-label" %>
      <%= form.text_field :q23 %>
    </div>

    <div class="mb-3">
      <%= form.label :q24, class: "form-label" %>
      <%= form.text_field :q24 %>
    </div>

    <div class="mb-3">
      <%= form.label :q25, class: "form-label" %>
      <%= form.text_field :q25 %>
    </div>

    <div class="mb-3">
      <%= form.label :q26, class: "form-label" %>
      <%= form.text_field :q26 %>
    </div>

    <div class="mb-3">
      <%= form.label :q27, class: "form-label" %>
      <%= form.text_field :q27 %>
    </div>

    <div class="mb-3">
      <%= form.label :q28, class: "form-label" %>
      <%= form.text_field :q28 %>
    </div>

    <div class="mb-3">
      <%= form.label :q29, class: "form-label" %>
      <%= form.text_field :q29 %>
    </div>

    <div class="mb-3">
      <%= form.label :q30, class: "form-label" %>
      <%= form.text_field :q30 %>
    </div>

    <div class="mb-3">
      <%= form.label :q31, class: "form-label" %>
      <%= form.text_field :q31 %>
    </div>

    <div class="mb-3">
      <%= form.label :q32, class: "form-label" %>
      <%= form.text_field :q32 %>
    </div>

    <div class="mb-3">
      <%= form.label :q33, class: "form-label" %>
      <%= form.text_field :q33 %>
    </div>

    <div class="mb-3">
      <%= form.label :q34, class: "form-label" %>
      <%= form.text_field :q34 %>
    </div>

    <div class="mb-3">
      <%= form.label :q35, class: "form-label" %>
      <%= form.text_field :q35 %>
    </div>

    <div class="mb-3">
      <%= form.label :q36, class: "form-label" %>
      <%= form.text_field :q36 %>
    </div>

    <div class="mb-3">
      <%= form.label :q37, class: "form-label" %>
      <%= form.text_field :q37 %>
    </div>

    <div class="mb-3">
      <%= form.label :q38, class: "form-label" %>
      <%= form.text_field :q38 %>
    </div>

    <div class="mb-3">
      <%= form.label :q39, class: "form-label" %>
      <%= form.text_field :q39 %>
    </div>

    <div class="mb-3">
      <%= form.label :q40, class: "form-label" %>
      <%= form.text_field :q40 %>
    </div>

    <div class="mb-3">
      <%= form.label :q41, class: "form-label" %>
      <%= form.text_field :q41 %>
    </div>

    <div class="mb-3">
      <%= form.label :q42, class: "form-label" %>
      <%= form.text_field :q42 %>
    </div>

    <div class="mb-3">
      <%= form.label :q43, class: "form-label" %>
      <%= form.text_field :q43 %>
    </div>

    <div class="mb-3">
      <%= form.label :q44, class: "form-label" %>
      <%= form.text_field :q44 %>
    </div>

    <div class="mb-3">
      <%= form.label :q45, class: "form-label" %>
      <%= form.text_field :q45 %>
    </div>

    <div class="mb-3">
      <%= form.label :q46, class: "form-label" %>
      <%= form.text_field :q46 %>
    </div>

    <div class="mb-3">
      <%= form.label :q47, class: "form-label" %>
      <%= form.text_field :q47 %>
    </div>

    <div class="mb-3">
      <%= form.label :q48, class: "form-label" %>
      <%= form.text_field :q48 %>
    </div>

    <div class="mb-3">
      <%= form.label :q49, class: "form-label" %>
      <%= form.text_field :q49 %>
    </div>

    <div class="mb-3">
      <%= form.label :q50, class: "form-label" %>
      <%= form.text_field :q50 %>
    </div>

    <div class="mb-3">
      <%= form.label :q51, class: "form-label" %>
      <%= form.text_field :q51 %>
    </div>

    <div class="mb-3">
      <%= form.label :q52, class: "form-label" %>
      <%= form.text_field :q52 %>
    </div>

    <div class="mb-3">
      <%= form.label :q53, class: "form-label" %>
      <%= form.text_field :q53 %>
    </div>

    <div class="mb-3">
      <%= form.label :q54, class: "form-label" %>
      <%= form.text_field :q54 %>
    </div>

    <div class="mb-3">
      <%= form.label :q55, class: "form-label" %>
      <%= form.text_field :q55 %>
    </div>

    <div class="mb-3">
      <%= form.label :q56, class: "form-label" %>
      <%= form.text_field :q56 %>
    </div>

    <div class="mb-3">
      <%= form.label :q57, class: "form-label" %>
      <%= form.text_field :q57 %>
    </div>

    <div class="mb-3">
      <%= form.label :q58, class: "form-label" %>
      <%= form.text_field :q58 %>
    </div>

    <div class="mb-3">
      <%= form.label :q59, class: "form-label" %>
      <%= form.text_field :q59 %>
    </div>

    <div class="mb-3">
      <%= form.label :q60, class: "form-label" %>
      <%= form.text_field :q60 %>
    </div>

    <div class="mb-3">
      <%= form.label :q61, class: "form-label" %>
      <%= form.text_field :q61 %>
    </div>

    <div class="mb-3">
      <%= form.label :q61, class: "form-label" %>
      <%= form.text_field :q61 %>
    </div>

    <div class="mb-3">
      <%= form.label :q62, class: "form-label" %>
      <%= form.text_field :q62 %>
    </div>

    <div class="mb-3">
      <%= form.label :q63, class: "form-label" %>
      <%= form.text_field :q63 %>
    </div>

    <div class="mb-3">
      <%= form.label :q64, class: "form-label" %>
      <%= form.text_field :q64 %>
    </div>

    <div class="mb-3">
      <%= form.label :opsTotal, class: "form-label" %>
      <%= form.text_field :opsTotal %>
    </div>

    <div class="mb-3">
      <%= form.label :qualityTotal, class: "form-label" %>
      <%= form.text_field :qualityTotal %>
    </div>

    <div class="mb-3">
      <%= form.label :serviceTotal, class: "form-label" %>
      <%= form.text_field :serviceTotal %>
    </div>

    <div class="mb-3">
      <%= form.label :cleanlinessTotal, class: "form-label" %>
      <%= form.text_field :cleanlinessTotal %>
    </div>

    <div class="mb-3">
      <%= form.label :veryGoodComments, class: "form-label" %>
      <%= form.text_field :veryGoodComments %>
    </div>

    <div class="mb-3">
      <%= form.label :morePracticeComments, class: "form-label" %>
      <%= form.text_field :morePracticeComments %>
    </div>

    <div class="mb-3">
      <%= form.label :preshiftSuccess, class: "form-label" %>
      <%= form.text_field :preshiftSuccess %>
    </div>

    <div class="mb-3">
      <%= form.label :duringShiftSuccess, class: "form-label" %>
      <%= form.text_field :duringShiftSuccess %>
    </div>

    <div class="mb-3">
      <%= form.label :postShiftSuccess, class: "form-label" %>
      <%= form.text_field :postShiftSuccess %>
    </div>

    <div class="mb-3">
      <%= form.label :slSignature, class: "form-label" %>
      <%= form.text_field :slSignature %>
    </div>

    <div class="mb-3">
      <%= form.label :coachSignature, class: "form-label" %>
      <%= form.text_field :coachSignature %>
    </div>

    <div class="mb-3">
      <%= form.submit %>
    </div>
  </div>






<% end %>
