<div id="<%= dom_id moc %>">
  <p>
    <strong>Organization:</strong>
    <%= moc.organization_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= moc.store_id %>
  </p>

  <p>
    <strong>Moc date:</strong>
    <%= moc.moc_date %>
  </p>

  <p>
    <strong>Moc time:</strong>
    <%= moc.moc_time %>
  </p>

  <p>
    <strong>Ops score:</strong>
    <%= moc.ops_score %>
  </p>

  <p>
    <strong>Service score:</strong>
    <%= moc.service_score %>
  </p>

  <p>
    <strong>Quality score:</strong>
    <%= moc.quality_score %>
  </p>

  <p>
    <strong>Cleanliness score:</strong>
    <%= moc.cleanliness_score %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= moc.verified %>
  </p>

  <p>
    <strong>Dt cars target 1:</strong>
    <%= moc.dt_cars_target_1 %>
  </p>

  <p>
    <strong>Dt cars target 2:</strong>
    <%= moc.dt_cars_target_2 %>
  </p>

  <p>
    <strong>Dt cars target 3:</strong>
    <%= moc.dt_cars_target_3 %>
  </p>

  <p>
    <strong>Dt cars actual 1:</strong>
    <%= moc.dt_cars_actual_1 %>
  </p>

  <p>
    <strong>Dt cars actual 2:</strong>
    <%= moc.dt_cars_actual_2 %>
  </p>

  <p>
    <strong>Dt cars actual 3:</strong>
    <%= moc.dt_cars_actual_3 %>
  </p>

  <p>
    <strong>Dt oepe target 1:</strong>
    <%= moc.dt_oepe_target_1 %>
  </p>

  <p>
    <strong>Dt oepe target 2:</strong>
    <%= moc.dt_oepe_target_2 %>
  </p>

  <p>
    <strong>Dt oepe target 3:</strong>
    <%= moc.dt_oepe_target_3 %>
  </p>

  <p>
    <strong>Dt oepe actual 1:</strong>
    <%= moc.dt_oepe_actual_1 %>
  </p>

  <p>
    <strong>Dt oepe actual 2:</strong>
    <%= moc.dt_oepe_actual_2 %>
  </p>

  <p>
    <strong>Dt oepe actual 3:</strong>
    <%= moc.dt_oepe_actual_3 %>
  </p>

  <p>
    <strong>Di guest target 1:</strong>
    <%= moc.di_guest_target_1 %>
  </p>

  <p>
    <strong>Di guest target 2:</strong>
    <%= moc.di_guest_target_2 %>
  </p>

  <p>
    <strong>Di guest target 3:</strong>
    <%= moc.di_guest_target_3 %>
  </p>

  <p>
    <strong>Di guest actual 1:</strong>
    <%= moc.di_guest_actual_1 %>
  </p>

  <p>
    <strong>Di guest actual 2:</strong>
    <%= moc.di_guest_actual_2 %>
  </p>

  <p>
    <strong>Di guest actual 3:</strong>
    <%= moc.di_guest_actual_3 %>
  </p>

  <p>
    <strong>Di time target 1:</strong>
    <%= moc.di_time_target_1 %>
  </p>

  <p>
    <strong>Di time target 2:</strong>
    <%= moc.di_time_target_2 %>
  </p>

  <p>
    <strong>Di time target 3:</strong>
    <%= moc.di_time_target_3 %>
  </p>

  <p>
    <strong>Di time actual 1:</strong>
    <%= moc.di_time_actual_1 %>
  </p>

  <p>
    <strong>Di time actual 2:</strong>
    <%= moc.di_time_actual_2 %>
  </p>

  <p>
    <strong>Di time actual 3:</strong>
    <%= moc.di_time_actual_3 %>
  </p>

  <p>
    <strong>Add target 1:</strong>
    <%= moc.add_target_1 %>
  </p>

  <p>
    <strong>Add target 2:</strong>
    <%= moc.add_target_2 %>
  </p>

  <p>
    <strong>Add target 3:</strong>
    <%= moc.add_target_3 %>
  </p>

  <p>
    <strong>Add actual 1:</strong>
    <%= moc.add_actual_1 %>
  </p>

  <p>
    <strong>Add actual 2:</strong>
    <%= moc.add_actual_2 %>
  </p>

  <p>
    <strong>Add actual 3:</strong>
    <%= moc.add_actual_3 %>
  </p>

  <p>
    <strong>Q1:</strong>
    <%= moc.q1 %>
  </p>

  <p>
    <strong>Q2:</strong>
    <%= moc.q2 %>
  </p>

  <p>
    <strong>Q3:</strong>
    <%= moc.q3 %>
  </p>

  <p>
    <strong>Q4:</strong>
    <%= moc.q4 %>
  </p>

  <p>
    <strong>Q5:</strong>
    <%= moc.q5 %>
  </p>

  <p>
    <strong>Q6:</strong>
    <%= moc.q6 %>
  </p>

  <p>
    <strong>Q7:</strong>
    <%= moc.q7 %>
  </p>

  <p>
    <strong>Q8:</strong>
    <%= moc.q8 %>
  </p>

  <p>
    <strong>Q9:</strong>
    <%= moc.q9 %>
  </p>

  <p>
    <strong>Q10:</strong>
    <%= moc.q10 %>
  </p>

  <p>
    <strong>Q11:</strong>
    <%= moc.q11 %>
  </p>

  <p>
    <strong>Q12:</strong>
    <%= moc.q12 %>
  </p>

  <p>
    <strong>Q13:</strong>
    <%= moc.q13 %>
  </p>

  <p>
    <strong>Q14:</strong>
    <%= moc.q14 %>
  </p>

  <p>
    <strong>Q15:</strong>
    <%= moc.q15 %>
  </p>

  <p>
    <strong>Q16:</strong>
    <%= moc.q16 %>
  </p>

  <p>
    <strong>Q17:</strong>
    <%= moc.q17 %>
  </p>

  <p>
    <strong>Q18:</strong>
    <%= moc.q18 %>
  </p>

  <p>
    <strong>Q19:</strong>
    <%= moc.q19 %>
  </p>

  <p>
    <strong>Q20:</strong>
    <%= moc.q20 %>
  </p>

  <p>
    <strong>Q21:</strong>
    <%= moc.q21 %>
  </p>

  <p>
    <strong>Q22:</strong>
    <%= moc.q22 %>
  </p>

  <p>
    <strong>Q23:</strong>
    <%= moc.q23 %>
  </p>

  <p>
    <strong>Q24:</strong>
    <%= moc.q24 %>
  </p>

  <p>
    <strong>Q25:</strong>
    <%= moc.q25 %>
  </p>

  <p>
    <strong>Q26:</strong>
    <%= moc.q26 %>
  </p>

  <p>
    <strong>Q27:</strong>
    <%= moc.q27 %>
  </p>

  <p>
    <strong>Q28:</strong>
    <%= moc.q28 %>
  </p>

  <p>
    <strong>Q29:</strong>
    <%= moc.q29 %>
  </p>

  <p>
    <strong>Q30:</strong>
    <%= moc.q30 %>
  </p>

  <p>
    <strong>Q31:</strong>
    <%= moc.q31 %>
  </p>

  <p>
    <strong>Q32:</strong>
    <%= moc.q32 %>
  </p>

  <p>
    <strong>Q33:</strong>
    <%= moc.q33 %>
  </p>

  <p>
    <strong>Q34:</strong>
    <%= moc.q34 %>
  </p>

  <p>
    <strong>Q35:</strong>
    <%= moc.q35 %>
  </p>

  <p>
    <strong>Q36:</strong>
    <%= moc.q36 %>
  </p>

  <p>
    <strong>Q37:</strong>
    <%= moc.q37 %>
  </p>

  <p>
    <strong>Q38:</strong>
    <%= moc.q38 %>
  </p>

  <p>
    <strong>Q39:</strong>
    <%= moc.q39 %>
  </p>

  <p>
    <strong>Q40:</strong>
    <%= moc.q40 %>
  </p>

  <p>
    <strong>Q41:</strong>
    <%= moc.q41 %>
  </p>

  <p>
    <strong>Q42:</strong>
    <%= moc.q42 %>
  </p>

  <p>
    <strong>Q43:</strong>
    <%= moc.q43 %>
  </p>

  <p>
    <strong>Q44:</strong>
    <%= moc.q44 %>
  </p>

  <p>
    <strong>Q45:</strong>
    <%= moc.q45 %>
  </p>

  <p>
    <strong>Q46:</strong>
    <%= moc.q46 %>
  </p>

  <p>
    <strong>Q47:</strong>
    <%= moc.q47 %>
  </p>

  <p>
    <strong>Q48:</strong>
    <%= moc.q48 %>
  </p>

  <p>
    <strong>Q49:</strong>
    <%= moc.q49 %>
  </p>

  <p>
    <strong>Q50:</strong>
    <%= moc.q50 %>
  </p>

  <p>
    <strong>Q51:</strong>
    <%= moc.q51 %>
  </p>

  <p>
    <strong>Q52:</strong>
    <%= moc.q52 %>
  </p>

  <p>
    <strong>Q53:</strong>
    <%= moc.q53 %>
  </p>

  <p>
    <strong>Q54:</strong>
    <%= moc.q54 %>
  </p>

  <p>
    <strong>Q55:</strong>
    <%= moc.q55 %>
  </p>

  <p>
    <strong>Q56:</strong>
    <%= moc.q56 %>
  </p>

  <p>
    <strong>Q57:</strong>
    <%= moc.q57 %>
  </p>

  <p>
    <strong>Q58:</strong>
    <%= moc.q58 %>
  </p>

  <p>
    <strong>Q59:</strong>
    <%= moc.q59 %>
  </p>

  <p>
    <strong>Q60:</strong>
    <%= moc.q60 %>
  </p>

  <p>
    <strong>Q61:</strong>
    <%= moc.q61 %>
  </p>

  <p>
    <strong>Q62:</strong>
    <%= moc.q62 %>
  </p>

  <p>
    <strong>Q63:</strong>
    <%= moc.q63 %>
  </p>

  <p>
    <strong>Q64:</strong>
    <%= moc.q64 %>
  </p>

  <p>
    <strong>Opstotal:</strong>
    <%= moc.opstotal %>
  </p>

  <p>
    <strong>Qualitytotal:</strong>
    <%= moc.qualitytotal %>
  </p>

  <p>
    <strong>Servicetotal:</strong>
    <%= moc.servicetotal %>
  </p>

  <p>
    <strong>Cleantotal:</strong>
    <%= moc.cleantotal %>
  </p>

  <p>
    <strong>Signature:</strong>
    <%= moc.signature %>
  </p>

  <p>
    <strong>Preshiftsuccess:</strong>
    <%= moc.preshiftsuccess %>
  </p>

  <p>
    <strong>Servicesuccess:</strong>
    <%= moc.servicesuccess %>
  </p>

  <p>
    <strong>Grillsuccess:</strong>
    <%= moc.grillsuccess %>
  </p>

  <p>
    <strong>Cleansuccess:</strong>
    <%= moc.cleansuccess %>
  </p>

  <p>
    <strong>Postshiftsuccess:</strong>
    <%= moc.postshiftsuccess %>
  </p>

  <p>
    <strong>Very good comments:</strong>
    <%= moc.very_good_comments %>
  </p>

  <p>
    <strong>More practice comments:</strong>
    <%= moc.more_practice_comments %>
  </p>

</div>
