<div id="<%= dom_id curriculum %>">
  <p>
    <strong>Name:</strong>
    <%= curriculum.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= curriculum.start_date %>
  </p>

  <p>
    <strong>Class type:</strong>
    <%= curriculum.class_type %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= curriculum.organization_id %>
  </p>

  <p>
    <strong>Current:</strong>
    <%= curriculum.current %>
  </p>

</div>
