<div class="row justify-content-center">
  <div class="col-auto">
    <div class="card mb-5">
      <h2 class="card-header text-center">Training Schedule</h2>
      <div class="row card-body">
        <div class="table table-responsive">
          <table class="col-auto table table-hover">
            <% @curriculums.each do |curriculum| %>
              <tr class="text-center">
                <th colspan="8" class="fs-3"><%= link_to curriculum.name, curriculum, class: "table-link" %></th>
              </tr>
              <tr>
                <th>Class</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Location</th>
                <th>Capacity</th>
                <th>Open Seats</th>
                <th>Instructor</th>
              </tr>
              <% curriculum.tclasses.each do |tclass| %>
                <tr>
                  <td><%= link_to tclass.name, tclass, class: "table-link" %></td>
                  <td><%= tclass.class_date.strftime("%m/%d/%y") %></td>
                  <td><%= tclass.class_time.strftime("%I:%M %p") %></td>
                  <td><%= tclass.duration %> Hours</td>
                  <td><%= tclass.location %></td>
                  <td><%= tclass.capacity %></td>
                  <td><%= tclass.capacity - tclass.users.count %></td>
                  <td><%= tclass.instructor.full_name %></td>
                </tr>
              <% end %>
              <tr class="m-3"></tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
