<div class="" id="theShopForm" style="padding-bottom: 60px;">
  <div id="shopSetup">
    <h1 class="text-center">Restaurant #<%= @shop.store.number %> Date: <%= @shop.shopDate.strftime("%m/%d/%Y") %> at: <%= @shop.shopTime.strftime("%I:%M %p") %></h1>
    <h3 class="font-italic text-center">Shopped By: <%= @shop.shopper.full_name %> Score: <%= @shop.score %>%</h3>
    <% if @shop.score.to_i >= 90 %>
        <h5 class="text-center" style="color: green;">You Earned a Commendation!!</h5>
    <% elsif @shop.score.to_i < 70 %>
        <h5 class="text-center" style="color: red;"><%= @shop.docRequired ? "Documentation Required" : "" %></h5>
    <% end %>
  </div>
  <hr>
  <div id="shiftManagment" >
    <h2 class="text-center">SHIFT MANAGEMENT</h1>
    <hr>
    <p>Shift Manager: <%= @shop.shiftManager %><br>
      Is the shift manager up front and visibly in charge?<strong> <%= @shop.upFront.to_i > 0 ? "Yes" : @shop.upFront ? "No" : "Not Answered" %></strong><br>
      Is the Shift Manager Appearance Acceptable?<strong> <%= @shop.mgrAppearance ? @shop.mgrAppearance.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Is the Shift Manager Wearing a Headset?<strong> <%= @shop.headset ? @shop.headset.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Is the Crew Appearance Acceptable? <strong><%= @shop.crewAppearance ? @shop.crewAppearance.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Are R2D2 Charts Posted and Current?<strong> <%= @shop.r2d2Charts ? @shop.r2d2Charts.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Are the RDM Boards Current?<strong> <%= @shop.rdm ? @shop.rdm.to_i > 0 ? "Yes" : "No" : "Not Answered" %><br></strong>
      Were Kiosks Staffed and in use?<strong>
      <% if @shop.kiosks === "N/A" %>
        N/A
      <% else %>
        <%= @shop.kiosks ? @shop.kiosks.to_i > 0 ? "Yes" : "No" : "Not Answered" %>
      <% end %></strong><br>
      Was Table Service Being Used During Your Visit? <strong><%= @shop.tableService ? @shop.tableService.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
      Are Benefits/Employment Table Tents Visible? <strong><%= @shop.tableTent ? @shop.tableTent.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong></p>
      <p>COMMENTS:<br><%= @shop.shiftMgrComment %>
    </p><br>
  </div>
  <div id="fast">
    <h2 class="text-center">FAST</h2>
    <hr>
    <% if @shop.shopType === "Drive Thru" %>
      <h5 class="text-center">DRIVE-THRU</h5>
      <p>Enter Wait Time: <strong>
        <% if @shop.waitTime.to_i > 180 %>
          <%= @shop.waitTime %> Seconds - Documentation IS Required
        <% else %>
          <%= @shop.waitTime %> Seconds
        <% end %> </strong><br>
        Enter Response Time: <strong>
        <% if @shop.responseTime.to_i > 20 %>
          <%= @shop.responseTime %> Seconds - Documentation IS Required
        <% else %>
          <%= @shop.responseTime %> Seconds
        <% end %> </strong><br>
        Enter Present Time:  <strong><%= @shop.presentTime %> Seconds</strong><br>
        Enter Present Time:  <strong>
        <% if @shop.oepTime.to_i > 300 %>
          <%= @shop.oepTime %> Seconds - Documentation IS Required
        <% else %>
          <%= @shop.oepTime %> Seconds
        <% end %> </strong><br>
        Enter Total Time: <strong>
        <% if @shop.totalTime.to_i > 600 %>
          <%= @shop.totalTime %> Seconds - Documentation IS Required
        <% else %>
          <%= @shop.totalTime %> Seconds
        <% end %> </strong><br>
        Were you pulled forward? <strong><%= @shop.pullForward ? @shop.pullForward : "Not Answered" %></strong><br>
        <% if @shop.pullForward === "Yes" %>
          Enter how long you were pulled forward: <strong><%= @shop.pullForwardTime %></strong><br>
        <% end %>
        Number of cars between COD & You, include car at COD: <strong><%= @shop.numberCars ? @shop.numberCars : "Not Answered" %></strong><br>
        If Dual Lane/Tandem/HHOT, was second order point in use? <strong>
        <% if @shop.tandem === "N/A" %>
          N/A
        <% else %>
          <%= @shop.tandem ? @shop.tandem.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %>
        <% end %></strong><br>
      </p>
    <% end %>
    <% if @shop.shopType === "Front Counter" %>
      <h5 class="text-center">FRONT COUNTER</h5>
      <p>Enter Wait Time: <strong>
        <% if @shop.fcWaitTime.to_i > 180 %>
          <%= @shop.fcWaitTime %> Seconds - Documentation IS Required
        <% else %>
          <%= @shop.fcWaitTime %> Seconds
        <% end %> </strong><br>
        Enter Delivery Time: <strong>
        <% if @shop.fcDeliveryTIme.to_i > 300 %>
          <%= @shop.fcDeliveryTIme %> Seconds - Documentation IS Required
        <% else %>
          <%= @shop.fcDeliveryTIme %> Seconds
        <% end %> </strong><br>
        Enter Total Time: <strong>
        <% if @shop.fcTotalTime.to_i > 600 %>
          <%= @shop.fcTotalTime %> Seconds - Documentation IS Required
        <% else %>
          <%= @shop.fcTotalTime %> Seconds
        <% end %> </strong><br>
        Number of guests ahead of you in line: <strong><%= @shop.numberGuests ? @shop.numberGuests : "Not Answered" %></strong>
      </p>
    <% end %>
    <% if @shop.shopType === "Curbside" %>
      <h5 class="text-center">CURBSIDE</h5>
      <% if @shop.curbsideTotalTime.to_i > 300 %>
        <%= @shop.curbsideTotalTime %> Seconds - Documentation IS Required
      <% else %>
        <%= @shop.curbsideTotalTime %> Seconds
      <% end  %>
    <% end %>
    <p>COMMENTS: <br>
      <%= @shop.fastComment %></p><br>
  </div>
  <div id="accurate">
    <h1 class="text-center">ACCURATE</h1>
    <hr>
    <p>Items Ordered: <%= @shop.itemsOrdered %><br>
      Did you receive all food and drink items that were ordered? <strong><%= @shop.completeOrder ? @shop.completeOrder.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered"  %></strong><br>
      Did you receive all requested condiments? <strong><%= @shop.condiment ? @shop.condiment.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
      Did the condiments come (DT)in a condiment bag, (FC)on the tray? <strong><%= @shop.condimentBag ? @shop.condimentBag.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Were your bags double folded? <strong><%= @shop.folded ? @shop.folded.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Is the Reader Board Message Correct? <strong>
      <% if @shop.readerboard === "N/A" %>
          N/A
      <% else %>
          <%= @shop.readerboard ? @shop.readerboard.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %>
      <% end %></strong><br>
      Is the POP/Marketing Correct? <strong><%= @shop.marketing ? @shop.marketing.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Are the 800# signs on the DT Windows? <strong><%= @shop.dtCommentNumber ? @shop.dtCommentNumber.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong>
    </p>
    <p>COMMENTS:<br>
      <%= @shop.accuracyComment %>
    </p><br>
  </div>
  <div id="hospitality">
    <h1 class="text-center">HOSPITALITY</h1>
    <hr>
    <% if @shop.shopType.in? ["Drive Thru", "Front Counter"] %>
      <p>Did the Order Taker: <strong><%= @shop.otName %></strong><br>
          PRE-SELL you the appropriate item? <strong><%= @shop.presell ? @shop.presell.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
          ASK if you would be using the McDonald's / Mobile App? <strong><%= @shop.loyalty ? @shop.loyalty.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
          Upsell you to a meal or Lg EVM? <strong><%= @shop.upsell ? @shop.upsell.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
          Prompt you for condiments needed? <strong><%= @shop.promptCondiments ? @shop.promptCondiments.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
          Repeat you entire order and ask, 'Is that correct?' <strong><%= @shop.repeatOrderAsk ? @shop.repeatOrderAsk.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
          <% if @shop.shopType === "Drive Thru" %>
            Did the Cashier: <strong><%= @shop.cashierName %></strong><br>
            Provide a friendly greeting and closing? <strong><%= @shop.cashierGreeting ? @shop.cashierGreeting.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
            ASK, 'Would you like to round up your order for donation to RMHC?' <strong><%= @shop.cashierRound ? @shop.cashierRound.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
            ASK, 'Did your order include ______?' (should be one of the unique items in your order)<strong><%= @shop.cashierAsk ? @shop.cashierAsk.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
            Cashier Appearance and PPE usage acceptable? <strong><%= @shop.csPPE ? @shop.csPPE.to_i > 0 ? "Yes" : "No - Documentation IS Required": "Not Answered"  %></strong><br>
          <% end %>
    <% end %>
    Did the Presenter: <strong><%= @shop.presenterName %></strong><br>
    Provide a friendly greeting and closing? <strong><%= @shop.presenterGreet ? @shop.presenterGreet.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
    TELL you, 'Here is your order with _____.' (should be one of the unique items in your order). If Pulled Forward, Did the presenter tell you Where to go, Why your were pulled forward and When your order would be ready?<strong><%= @shop.presenterTell ? @shop.presenterTell.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
    Presenter Appearance and PPE usage acceptable? <strong><%= @shop.pPPE ? @shop.pPPE.to_i > 0 ? "Yes" : "No - Documentation IS Required": "Not Answered"  %></strong><br>
    <% if @shop.pullForward === "Yes" %>
      If you were pulled forward, did the pull forward presenter: <strong><%= @shop.pullForwardPresenterName %></strong><br>
      TELL you, 'Here is your order with _____.' (should be one of the unique items in your order)<strong><%= @shop.pfTell ? @shop.pfTell.to_i > 0 ? "Yes" : "No - Documentation IS Required": "Not Answered"  %></strong><br>
      Pull Forward Presenter Appearance and PPE usage acceptable? <strong><%= @shop.p2PPE ? @shop.p2PPE.to_i > 0 ? "Yes" : "No - Documentation IS Required": "Not Answered"  %></strong><br>
    <% end %>
    </p>
    <p>COMMENTS: <br>
      <%= @shop.hospitalityComment %>
    </p><br>
  </div>
  <div id="quality">
    <h1 class="text-center">QUALITY</h1>
    <hr>
    <p>Were all products properly prepared and fresh and hot?  Neatly assembled? <strong><%= @shop.fresh ? @shop.fresh.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Were fries fresh and properly salted? Hashbrown hot and properly cooked? <strong><%= @shop.friesGood ? @shop.friesGood.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Did the beverage have good taste?  (Cold/hot, carbonated, prepared correctly,stickered) <strong><%= @shop.drinkGood ? @shop.drinkGood.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong>
    </p>
    <p>COMMENTS: <br>
      <%= @shop.qualityComment %>
    </p><br>
  </div>
  <div id="cleanliness">
    <h1 class="text-center">CLEANLINESS</h1>
    <hr>
    <p>
      Is the Lot Free of Gum? <strong><%= @shop.lotGum ? @shop.lotGum.to_i > 0 ? "Yes" : "No" : "Not Answered" %></    strong><br>
      Is The COD Area Clean? <strong><%= @shop.codClean ? @shop.codClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Is the COD Free of Gum? <strong><%= @shop.codGum ? @shop.codGum.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Is the DT Lane Clean? <strong><%= @shop.dtClean ? @shop.dtClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Is the DT Lane Free of Gum? <strong><%= @shop.dtGum ? @shop.dtGum.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Is the Parking Lot Clean? <strong><%= @shop.lotClean ? @shop.lotClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Is the Corral Clean? <strong><%= @shop.corralClean ? @shop.corralClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are the Dumpster Lids Closed? <strong><%= @shop.lidsClosed ? @shop.lidsClosed.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are the DT Glass and Frame Clean? <strong><%= @shop.dtGlassClean ? @shop.dtGlassClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are Lobby Doors and Windows Clean? <strong><%= @shop.windowsClean ? @shop.windowsClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are the outside trash bins clean and NOT overflowing? <strong><%= @shop.trashFull ? @shop.trashFull.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered"  %></strong><br>
      Are the 800# signs on the Entry Doors? <strong><%= @shop.commentSignVisible ? @shop.commentSignVisible.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are the Floors Clean? <strong><%= @shop.floorClean ? @shop.floorClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are the Tables Clean? <strong><%= @shop.tableClean ? @shop.tableClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Is the Beverage Bar Clean? <strong><%= @shop.drinkClean ? @shop.drinkClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are Ceiling Vents Clean? <strong><%= @shop.ventsClean ? @shop.ventsClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are Sanitizers Available? <strong><%= @shop.sanitizer ? @shop.sanitizer.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are the Televisions in the Lobby and Playplace on the correct channels? <strong><%= @shop.tvOn ? @shop.tvOn.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required"  : "Not Answered" %></strong><br>
      Are the Restrooms Clean? <strong><%= @shop.restroomClean ? @shop.restroomClean.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are the trash bins clean and NOT overflowing? <strong><%= @shop.insideTrash ? @shop.insideTrash.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Is the Crew Room Clean & Organized? <strong>
      <% if @shop.crewRoom === "N/A" %>
          N/A
      <% else %>
          <%= @shop.crewRoom ? @shop.crewRoom.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %>
      <% end %></strong>
    </p>
    <p>COMMENT: <br>
      <%= @shop.cleanComment %>
    </p><br>
  </div>
  <div id="foodSafety">
    <h1 class="text-center">FOOD SAFETY</h1>
    <hr>
    <p>
      Are UHC timers being used correctly? <strong><%= @shop.uhcTimer ? @shop.uhcTimer.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
      Are times on the prep table being used and are current? <strong><%= @shop.prepTimer ? @shop.prepTimer.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
      Are the buns held correctly with times marked? <strong><%= @shop.bunTimer ? @shop.bunTimer.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
      Is the HOTG 4:1 Held in the 2 Drawer Cooler Correctly? <strong><%= @shop.qtrCorrect ? @shop.qtrCorrect.to_i > 0 ? "Yes" : "No - Documentation IS Required" : "Not Answered" %></strong><br>
      Secondary Shelf Life on Oldest 4:1 Package: <strong><%= @shop.qtrDate ? @shop.qtrDate.strftime("%m/%d/%Y") : "No Date Entered" %> at: <%= @shop.qtrTime ? @shop.qtrTime.strftime("%I:%M %p") : "No Time Entered" %></strong><br>
      Are Glove Procedures Followed in The Grill Area? <strong><%= @shop.glove ? @shop.glove.to_i > 0 ? "Yes" : "No - Documentation MAY BE Required" : "Not Answered" %></strong><br>
      Are the pies held correctly with times marked? <strong><%= @shop.pieTimer ? @shop.pieTimer.to_i > 0 ? "Yes" : "No" : "Not Answered" %></strong><br>
    </p>
    <p>COMMENTS: <br>
      <%= @shop.foodSafetyComment %>
    </p><br>
  </div>
</div>