<div id="<%= dom_id comment %>">
  <p>
    <strong>Visit date:</strong>
    <%= comment.visit_date %>
  </p>

  <p>
    <strong>Visit time:</strong>
    <%= comment.visit_time %>
  </p>

  <p>
    <strong>Comment type:</strong>
    <%= comment.comment_type %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= comment.source %>
  </p>

  <p>
    <strong>Urgent:</strong>
    <%= comment.urgent %>
  </p>

  <p>
    <strong>Case number:</strong>
    <%= comment.case_number %>
  </p>

  <p>
    <strong>First issue:</strong>
    <%= comment.first_issue %>
  </p>

  <p>
    <strong>First issue comment:</strong>
    <%= comment.first_issue_comment %>
  </p>

  <p>
    <strong>Second issue:</strong>
    <%= comment.second_issue %>
  </p>

  <p>
    <strong>Second issue comment:</strong>
    <%= comment.second_issue_comment %>
  </p>

  <p>
    <strong>Third issue:</strong>
    <%= comment.third_issue %>
  </p>

  <p>
    <strong>Third issue comment:</strong>
    <%= comment.third_issue_comment %>
  </p>

  <p>
    <strong>Contact type:</strong>
    <%= comment.contact_type %>
  </p>

  <p>
    <strong>Visit type:</strong>
    <%= comment.visit_type %>
  </p>

  <p>
    <strong>Employee named:</strong>
    <%= comment.employee_named %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= comment.status %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= comment.organization_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= comment.store_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= comment.guest_id %>
  </p>

</div>
