<%= form_for @comment do |f| %>
  <% if comment.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2 class="text-center"><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :guest do |guest| %>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= guest.label :first_name, "First Name", class: 'form-label' %>
            <%= guest.text_field :first_name, required: "true", :class => "form-control" %>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <%= guest.label :last_name, "Last Name", class: 'form-label' %>
          <%= guest.text_field :last_name, required: "true", :class => "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= guest.label :email, "Email Address", class: 'form-label' %>
          <%= guest.text_field :email, :class => "form-control" %>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <%= guest.label :email, "Phone", class: 'form-label' %>
          <%= guest.text_field :phone, :class => "form-control" %>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="mb-3">
    <%= f.label :store_id, "Restaurant", class: 'form-label' %>
    <%= f.collection_select :store_id, Store.where(active: true, organization_id: current_user.organization.id).order('id ASC'), :id, :number, {}, {class: "form-control"} %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <%= f.label :visit_date, "Incident Date", class: 'form-label' %>
        <%= f.date_field :visit_date, :class => "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <%= f.label :visit_time, "Incident Time", class: 'form-label' %>
        <%= f.time_field :visit_time, :class => "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-4">
      <div class="mb-3">
        <%= f.label :comment_type, "Type of Comment", class: 'form-label' %>
        <%= f.select :comment_type, Comment::COMMENT_TYPES, {},  {required: "true", :class =>"form-control"} %>
      </div>
    </div>
    <div class="col-6 col-lg-4">
      <div class="mb-3">
        <%= f.label :source, "Source of Comment", class: 'form-label' %>
        <%= f.select :source, Comment::SOURCE, {}, {required: "true", :class =>"form-control"} %>
      </div>
    </div>
    <div class="col-6 col-lg-4">
      <div class="mb-3">
        <%= f.label :urgent, "Urgent or General", class: 'form-label' %>
        <%= f.select :urgent, Comment::URGENT, {}, { :class =>"form-control"} %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :case_number, "Case Number", class: 'form-label' %>
    <%= f.text_field :case_number, required: "true", :class => "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :first_issue, "Customer Issue 1", class: 'form-label' %>
    <%= f.text_field :first_issue, required: "true", :class => "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :first_issue_comment, "Details", class: 'form-label' %>
    <%= f.text_area :first_issue_comment, size: "50 x 4", required: "true", :class => "form-control"%>
  </div>
  <div class="mb-3">
    <%= f.label :second_issue, "Customer Issue 2", class: 'form-label' %>
    <%= f.text_field :second_issue, :class => "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :second_issue_comment, "Details", class: 'form-label' %>
    <%= f.text_area :second_issue_comment, size: "50 x 4", :class => "form-control"%>
  </div>
  <div class="mb-3">
    <%= f.label :third_issue, "Customer Issue 3", class: 'form-label' %>
    <%= f.text_field :third_issue, :class => "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :third_issue_comment, "Details", class: 'form-label' %>
    <%= f.text_area :third_issue_comment, size: "50 x 4", :class => "form-control" %>
  </div>
  <div class="row">
    <div class="col-6 col-lg-4">
      <div class="mb-3">
        <%= f.label :contact_type, "Contact Type", class: 'form-label' %>
        <%= f.select :contact_type, Comment::CONTACT_TYPE, {}, { :class =>"form-control"} %>
      </div>
    </div>
    <div class="col-6 col-lg-4">
      <div class="mb-3">
        <%= f.label :visit_type, "Order Point", class: 'form-label' %>
        <%= f.select :visit_type, Comment::ORDER_POINT, {}, { :class =>"form-control"} %>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="mb-3">
        <%= f.label :employee_named, "Employee Named", class: 'form-label' %>
        <%= f.text_field :employee_named, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :status, "Status", class: 'form-label' %>
    <%= f.select :status, Comment::STATUS, {}, { :class =>"form-control"} %>
  </div>

  <div class='row'>
    <div class='col-12 col-md-3'>
      <div class="d-grid gap-2">
        <%= f.submit class: "btn my-submit" %>
      </div>
    </div>
    <div class='col-12 col-md-3 pt-2 pt-md-0'>
      <div class="d-grid gap-2">
        <%= link_to "Dashboard", dashboard_path, :class => "btn my-submit" %>
      </div>
    </div>
  </div>
<% end %>
