<div class="row">
  <div class="col-auto border">
    <h4>Total Recognition Points: <%= current_user.accumulated_points %></h4>
    <h5>Earned documentation: </h5>
    <ul>
      <li>Praise! <%= current_user.employee_named_documentations.where(level: "Praise!").size %></li>
      <li>Cheers! <%= current_user.employee_named_documentations.where(level: "Cheers!").size %></li>
      <li>Applause! <%= current_user.employee_named_documentations.where(level: "Applause!").size %></li>
      <li>Major <%= current_user.employee_named_documentations.where(level: "Major").size %></li>
      <li>Serious <%= current_user.employee_named_documentations.where(level: "Serious").size %></li>
      <li>Critical <%= current_user.employee_named_documentations.where(level: "Critical").size %></li>
    </ul>
    <div class="row">
      <div class="col-12">
      <h5 class="text-center">You have redeemed <%= number_to_currency(redeemed_dollars(current_user), precision: 0) %></h5>
      </div>
    </div>
    <% if current_user.id === current_user.id %>
      <%= link_to "Documentation", documentations_path, class: "btn my-submit my-3" %>
      <%= link_to "Claim Reward", "/rewards/claim_my_reward/#{current_user.id}", class: "btn my-submit my-3" %>
    <% end %>
  </div>
  <div class="col-auto">
    <turbo-frame id="my-schedule" src="/my_schedule/<%= current_user.id %>">
    </turbo-frame>
  </div>
</div>
<% if current_user.position.name.in? ["General Manager", "Supervisor", "Director", "Business Director", "Training Manager", "Training Assistant", "HR Manager", "Maint Department Head", "Technology Department Head", "PM Department Head", "Maint Tech Department Head"]%>
  <div class="d-grid gap-2 d-md-flex mt-5">
    <%= link_to "Add Training", new_training_registration_path(:id => current_user.id), class: "btn my-submit"%>
  </div>
<% end %>