<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= organization.phone %>
  </p>

  <p>
    <strong>City:</strong>
    <%= organization.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= organization.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= organization.zip %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= organization.street %>
  </p>

</div>
