<nav class="navbar navbar-expand-lg longhorn fixed-top">
  <div class="container-fluid">

    <% if user_signed_in? %>
      <%= link_to dashboard_path, class: "navbar-brand" do %>
        <span class=""><i class="fa-solid fa-clipboard-check"></i></span>
        QSRTasks
      <% end %>
    <% elsif admin_signed_in? %>
      <%= link_to admin_dashboard_path, class: "navbar-brand" do %>
        <span class=""><i class="fa-solid fa-clipboard-check"></i></span>
        QSRTasks
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <span class=""><i class="fa-solid fa-clipboard-check"></i></span>
        QSRTasks
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa-solid fa-burger-soda text-white"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? %>
          <% if policy(:user).index? %>
            <%= render "layouts/navbar/dropdown_menus/user" %>
          <% end %>
          <% if policy(:store).index? %>
            <%= render "layouts/navbar/dropdown_menus/store" %>
          <% end %>
          <% if policy(:comment).index? %>
            <%= render "layouts/navbar/dropdown_menus/comment" %>
          <% end %>
          <% if policy(:comment).index? %>
            <%= render "layouts/navbar/dropdown_menus/maintenance" %>
          <% end %>
          <% if policy(:safe_audit).index? %>
            <%= render "layouts/navbar/dropdown_menus/audit" %>
          <% end %>


        <% elsif admin_signed_in? %>

        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-right-to-bracket"></i>
              Sign In
            <% end %>
          </li>
        <% end %>

      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">

        <% if user_signed_in? %>
          <%= render "layouts/navbar/dropdown_menus/profile" %>
        <% elsif admin_signed_in? %>
          <%= render "layouts/navbar/dropdown_menus/admin_profile" %>
        <% else %>
          <li class="nav-item">
            <%= link_to new_admin_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-right-to-bracket"></i>
              Admin Sign In
            <% end %>
          </li>
        <% end %>

      </ul>


    </div>

  </div>
</nav>