

<%= form_with(model: food_handler_card) do |form| %>
  <% if food_handler_card.errors.any? %>
    <div class="alert alert-danger">
      <h2 class="text-center"><%= pluralize(food_handler_card.errors.count, "error") %> prohibited this ServSafe card from being saved:</h2>
      <ul>
        <% food_handler_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="mb-3" >
        <%= form.label :issue_date, "Issue Date", class: "form-label" %>
        <%= form.date_field :issue_date, class: "form-control", required: true %>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="mb-3" >
        <%= form.label :expitation_date, "Expiration Date", class: "form-label" %>
        <%= form.date_field :expiration_date, class: "form-control", required: true %>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="mb-3">
        <%= form.label :picture, class: "form-label"  do %>
         Picture of Card <em><small>(Pictures Must Be JPEG or PNG)</small></em>
        <% end %>
        <%= form.file_field :picture, class: "form-control", required: true %>
      </div>
    </div>
  </div>

  <%= form.text_field :store_id, value: @food_handler_card.user ? food_handler_card.user.stores[0].id : @user.stores[0].id, hidden: true %>
  <%= form.text_field :user_id, value: @food_handler_card.user ? food_handler_card.user.id : @user.id, hidden: true %>

  <%= form.submit class: "btn my-submit" %>
<% end %>