
    <div class="card">
      <h2 class="text-center card-header">Food Handler/ServSafe Cards</h2>
      <div class="card-body">
        <% if @food_handler_cards.any? %>
          <% @food_handler_cards.each do |card| %>
            <div class="card mb-3">
              <h4 class="text-center card-header"><%= card.user.full_name %> - <%= card.user.position.name %></h4>
              <div class="card-body">
                <p>Issued On: <%= card.issue_date.strftime("%m/%d/%Y") %> - Expires On: <%= card.expiration_date.strftime("%m/%d/%Y") %></p>
                <div class='row'>
                  <div class="col">
                    <% if card.picture.image? %>
                      <%= image_tag card.picture.variant(resize_to_fit: [550, 550]), class: "my-4" %>
                    <% elsif card.picture.previewable? %>
                      <%= image_tag card.picture.preview(resize_to_fit: [550, 550]) %>
                    <% else %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <h4 class="text-center">No Cards Found 😢</h4>
        <% end %>
      </div>
    </div>
