<!DOCTYPE html>
<html>
  <head>
    <title>QSRTasks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/ded3e591f3.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'favicon-16x16.png' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/png' %>
  </head>

  <body style="background: #ebe8e2;" >
    <%= render "layouts/navbar/header"%>
    <%= render "layouts/flash"%>
    <div class="container-fluid" style="margin-top: 75px;" >
      <%= yield %>
    </div>
    <%= render "layouts/navbar/footer"%>
  </body>
</html>
