<p style="color: green"><%= notice %></p>

<%= render @documentation_report %>

<div>
  <%= link_to "Edit this documentation report", edit_documentation_report_path(@documentation_report) %> |
  <%= link_to "Back to documentation reports", documentation_reports_path %>

  <%= button_to "Destroy this documentation report", @documentation_report, method: :delete %>
</div>
